/* Media Queries */
@media only screen and (min-width: 37.5em) {
main {
    display:grid;
    grid-template-columns: 1fr 1fr;
    max-width: 90%;
  }

header h1 {
  font-size: 2.5em;
}

main section.whitespace {
  grid-column: 1/3;
}
main section .pic {
  align-content:stretch;
}

}