body {
    margin:0px auto;
    box-sizing: content-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;

}

header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-self:center;
    vertical-align: middle;
    color:rgba(242, 243, 248, 0.8);
    width: 100%;
    height: 150px;
    background-color:rgb(19, 108, 197);
    border-radius: 8px 8px 8px 8px;
    box-shadow: 5px 5px 5px 5px rgba(141, 187, 240, 0.5);
}
header h1 {
    grid-column-start: 2;
    text-align:center;
    align-self:center;
    text-shadow:1px 1px rgba(40, 40, 41, 0.6);
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 1.0em;
}
main {
    display:grid;
    grid-template-columns: 1f;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px 20px;
    text-align:center;
    align-self:center;
    margin:auto;
}
main section {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color:rgba(217, 217, 247, 0.4)

}
main hr {
    margin: 0;
}
main p {
    margin-top: 0;
}
main h2 {
    color:rgba(60, 60, 70, 0.8);
    text-shadow:2px 2px 2px rgba(217, 217, 247, 0.3);
    font-size: 1.5em;
    margin-bottom: 0;
}
 p.time {
   font-size: .8em;
   font-weight: 400;
}
main span.endnote {
    font-size:smaller;
    font-style: italic;
    line-height: .8em;
    margin-top: 0;
}
footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align:center;
    width: 100%;
    height: 85px;
    background-color:rgb(19, 108, 197);
    color:rgba(242, 243, 248, 0.8);
    text-shadow: 1px 1px 3px #102c47;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 5px 5px 5px 5px rgba(217, 217, 247, 0.4);

}
footer span.modified {
    font-size: .8em;
}

ul li {
    padding:5px;
    list-style-type:square;
}
/* Media Queries */
@media only screen and (max-width: 32.5em) {

    body {
        font-size: .9em;
    }
    main h2 {
        font-size: 1.1em;
    }

    main span.endnote {
        line-height: .7em;
    }

}