body {
    margin:0px auto;
    box-sizing: content-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    display:block;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.2em 2em;
    align-self:center;
    color:rgb(242, 243, 248);
    max-width: 100%;
    height: 80px;
    padding:  30px;
    background-color:rgb(15, 64, 119);
    border-radius: 0px;
    box-shadow: 5px 5px 5px 5px rgba(141, 187, 240, 0.5);
}
header h1 {
    grid-row: 1;
    text-align:center;
    align-self:center;
    text-shadow:1px 1px rgba(40, 40, 41, 0.6);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2em;
    padding: 20px;
    margin: 20px;
    line-height: 1em;

}
header p {
    grid-row: 2;
    text-align: center;
    color:rgb(242, 243, 248);
    font-size: 1.3em;
    font-family: "Open Sans", sans-serif;
}
main {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 25px;
    align-self:justify;
    vertical-align: top;
    padding: 10px 5px;
    margin: 20px auto 10px auto;

}

main section {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 70px auto auto;
    grid-gap: 10px;
    background-color:rgba(217, 217, 247, 0.4);
    border-radius: 8px 8px 0px 0px;
    border: 1px solid #000;
    text-align:left;
}
main hr {
    margin: 0;
}

main h2 {
    color:rgba(60, 60, 70, 0.8);
    text-shadow:2px 2px 2px rgba(217, 217, 247, 0.3);
    font-size: 1.5em;
    margin-bottom: 0;
}
 p.time {
   font-size: .8em;
   font-weight: 400;
}
main span.endnote {
    font-size:smaller;
    font-style: italic;
    line-height: .8em;
    margin-top: 0;
}
section .title  {
    margin: 0 ;
    width: 100%;
    grid-column: 1;
    background-color:rgb(19, 85, 160);
    border-radius: 8px 8px 0 0;
    border: 1px solid rgb(28, 4, 73);
    text-align:left;
    vertical-align:middle;
    box-sizing: border-box;
}

section .title h2 {
    grid-row:1;
    font-family: "Montserrat", san-serif;
    font-weight: 500;
    color:rgba(242, 243, 248, 1.0);
    font-size: 1.2rem;
    margin-right:-10px;
    padding: 0 5px;
    font-style: italic;
}
section .site {
    grid-row: 2;
    max-height: 70px;
    padding: 10px;
}

section .pic {
    grid-row:3;
    padding:10px 5px;
    text-shadow:rgba(217, 217, 247, 0.3);
}
img {
  max-width: 100%;
  height: auto;
}

section .descr  {
    padding:10px;
    font-family: "Open Sans", san-serif;
    font-size: 1em;
    line-height: 1.5em;
    text-align:justify;
    align-self: normal;
    vertical-align:top;
    margin: 10px;
}
footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align:center;
    width: 100%;
    height: 65px;
    background-color:rgb(15, 64, 119);
    color:rgb(242, 243, 248);
    text-shadow: 1px 1px 3px #102c47;
    border-radius: 0px;
    box-shadow: 5px 5px 5px 5px rgba(217, 217, 247, 0.4);

}
footer span.modified {
    font-size: .8em;
}

