@media only screen and (min-width: 58rem) {
div.topdiv {height: 60px;}
.hambtn {display:none}

/* ******************************** Header Info ***************** */
header picture.logo {
    align-items: center;
    justify-content: left;
}

header {
    position:relative;
    display:grid;
    grid-template-columns:50px auto 1fr;
    grid-template-rows: 1fr 1fr;
    min-width: 100%;
    width: 100%;
    max-width: 1024px;
    justify-content: left;

}
/* Flex *********************/
nav {
    position: relative;
    flex-direction: row;
    top: 5px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    min-width: 750px;
    max-width: 100%;
    margin:auto;
  }
nav ul li {
  flex: 1 1 auto;
}

nav ul li a {
  color: aliceblue;
  padding: 10px 10px;
  margin: 0 2%;
}
nav ul#primaryNav {
  display:flex;
  background-color: transparent;
  justify-content: center; /* left aligned */
  max-width: 960px;
}

/* ************************** HOME ************************* */

main .home-grid {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   justify-content: center;
   align-content: center;
   max-width: 100%;
}

.hero {
  object-fit: cover;
  }

.hero h2 {
  color: #f2f6f8;
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 2px 2px #333;
  padding:40px 20px;
  position: absolute;
  top: 25%;
  right:8rem;
  background-color: rgba(27, 58, 216, 0.6)
 }
 a.btn_call {bottom: 6rem;
  right:8rem;text-align: center;min-width: 260px; border:2px solid rgb(244, 212, 50);
  border-radius: 4px;}
/* ****************** FOOTER ************************** */
footer {
  grid-template-columns: 1fr;
  grid-template-rows: 110px 185px 170px 40px 40px 40px;
}
footer div.flogo {
  grid-column: 1;
  grid-row: 1;
}
.ftrlogo {
  min-width: 100px;
}
footer .address {
  grid-column: 1;
  grid-row: 2;
}
footer .fmap {
  grid-column-start: 1;
  grid-row: 3;
}
footer .social {
  grid-column: 1;
  grid-row: 4;
}
footer .copyright {
  grid-column: 1;
  grid-row: 5;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.copyright:nth-child(1){
  margin: 0;
  padding: 5px 10px 0 5px;
  justify-content: center;
  align-content: center;

}
span.sm_name::after {
  content: "  ";
  content: "  |  ";
  color:  rgb(67, 45, 235);
  font-weight: 300;
}
/* *************************** featured temples ************** */
.temple-home {
  grid-column: span 3;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
}
.temple-home .cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
}
.featured {
  display: flex;
  flex-direction: row;

}
.featured:nth-child(1){
  flex: auto;
}

/* ******************************* LARGE VIEW Directory ***************************** */
  .card-view {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .list-view section {
      grid-template-columns: 30% 20% 20% 30%;
      grid-template-rows: repeat(2, 1fr);

}
  .list-view section h2 {
      grid-column: 1;
      grid-row: 1;
      display:block;
      background-color: transparent;
  }

  .list-view section p2 {
      display:block;
      grid-column: 2;
      grid-row: 1;
      padding-top: 10px;
      text-align: left;
  }
  .list-view section p3 {
    display: none;
  }
  .list-view section p1 {
      grid-column: 3;
      grid-row: 1;
      padding-top: 10px;
  }

  .list-view section p4 {
      grid-column: 4;
      grid-row: 1;
      padding-top: 10px;
  }
  .list-view section mem {
     display:none;
      grid-column: 1;
      grid-row: 2;
}
  .list-view section p5 {
      grid-column: 4;
      grid-row: 2;
}

  .card-view section p2{
      display: none;
  }

/* ************************************** RESERVE *************************** */
 .reserve {
  display:block;
  grid-row: 3;
  grid-column: 1;
  padding: 10px;

}
.reserve p {font-size: 1.1em; margin: 5px;}

 section.grid-reserve {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 1fr 1fr;
  align-items: center;


}
.grid-reserve h2 {
  grid-column: span 2;
  grid-row: 1;
  padding: 10px 20px;
}

 .grid-reserve article {
  grid-column-start: 1 ;
  grid-row: 2;
  max-width: 400px;
}
.grid-reserve article {
  grid-column-start: 1;
  grid-row: 3;
  max-width: 400px;
  display:flex;
  flex-direction: column;
}

/* --------------FORM STYLING ----- */


form {
  align-self: center;
  text-align: left;
}
form label.top input, form label.top select, form label.top textarea {
  font-size: 1.2rem;
}
p.member-message {
  display:inline-block;
  font-weight: 400;
  margin: 5px;
}

/* *********************** SERVICES *************************** */
main.services-grid {
  display: grid;
  grid-template-columns: 1fr;
  margin:2% 4%;
}
main.services-grid section {
  grid-column: auto;
  min-height: 400px;
  padding: 4%;
}
/* *********************** HOME - CHECK FORM ************** */
.checkform {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  min-height: 100px;
  max-width: 100%;
  justify-content: start;
  align-content: center;
  justify-content: start;
  background-color:rgb(228, 231, 248);
}

.checkform form.check {
  display: flex;
  flex-direction: row;
  margin: 4%;
  justify-content: center;
}

.checkform form h3 {
  flex: auto;
  max-height: 25px;
  margin: 5px;
  padding: 5px;
  font-size: 1.2em;
}

/* * *8********************** HOT TOPIC ****************** */

 .hottopic {
   grid-column: span 3;
   grid-template-columns: 1fr 1fr;

 }
}