/* Media Queries */
/* 32.5rem = 520 px */
@media only screen and (min-width: 35rem) {

 #dybanner {
  font-size: 1em;
}
.topdiv {
  display: grid;
  grid-template-columns: 110px auto 50px;
  height: 70px;
}
div.social {
  grid-row: 1;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}

/* Grid *********************/
  /*  ************* HEADER  ********* */
header {
    position:relative;
    display:grid;
    grid-template-columns:50px auto 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    min-width: 550px;
    justify-content: left;
}
header picture.logo {
  justify-content: left;
  min-width: 250px;
  max-width: 100%;
}
header picture.logo img {
  justify-content: right;
    min-width: 250px;
    align-items: center;
}


header .btncontainer {
  grid-column: 3;
  grid-row: 2;
  text-align: right;
  align-items: end;
  justify-content: end;
}

/* ************************* NAVIGATION - MEDIUM ***********************  */
nav#primaryNav {
  display:flex;
  flex-direction: column;
  background-color: #046fb9;
  text-align: center;
  max-width: 320px;
  }
nav {max-width: 320px;}
nav ul {
  display:none;
}
nav ul.open {
    display:block;
}
nav ul li {
  flex: 1 1 auto;
}
nav ul.open {
    display:block;

}
nav ul li a {
  display:block;
  border: none;
  padding: .5rem 1rem;
  color: aliceblue;
}
/*  ****************************** HOME ************************ */

 .home-grid {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-columns: 450 395px 400px 400px;
}
.hero picture.hero-img img {min-width: 800px; max-width: 800px;max-height: 450px; object-fit: cover;justify-content: center}
.hero-reception picture.hero-img img {min-width: 800px; max-width: 800px;max-height: 500px; object-fit: cover;justify-content: center}
.hero-services picture.hero-img img {min-width: 800px; max-width: 800px;max-height: 340px; object-fit: cover;justify-content: center}


.hero.call {text-align: center}
.hero h2 { align-items: center;max-width: 300px; min-height: 220px;font-size: 1.8em;padding:20px 10px; bottom: 20%;
  right: 10%;
  left: 60%;
  }
home-service-img
 a.btn_call {
  bottom: 5%;
  right: 2rem;
  font-size: 1.5rem;
  max-height: 100px;
  max-width: 250px;
  text-align: center;
  border:2px solid rgb(244, 212, 50);
  border-radius: 4px;
}

.featuredtemples {
  grid-column: span 3;
  grid-row: 4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-template-rows: 60px 400px;
}
.featuredtemples h2 {
  grid-column: span 3;
  grid-row: 1;
}
.featuredtemples section {
  grid-row: 2;
  display:flex;
  flex-direction: column;
  text-align: center;
  background-color:rgb(193, 200, 235);
  border: 2px solid rgba(98, 135, 236, 0.8);
  border-radius: 8px;
  font-size: .9em;
  line-height: .9em;
  margin: 2%;
  padding: 5px;
  max-height: 360px;
}
.featuredtemples section > p {
  min-height: 50px;
}
.featuredtemples img.templeimg {
  min-width: 180px;
  max-width: 200px;
  box-shadow: 0 1px 12px #ccc;
  border: 1px solid rgb(59, 96, 245);
  border-radius: 8px;
  background-color: aliceblue;
}
/*  ************************** HOME  WEATHER ********* */
 .weather-grid {
    justify-content: center;
 }

/* ****************** FOOTER ************************** */


/* **************************** DIRECTORY MEDIUM VIEW ********************* */
@media only screen and (min-width:32rem) {

  .list-view section {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: .9em;
  }
    .card-view section {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
  .card-view section p3 {
       display: block;
       padding: 5px 5px;

  }

  .list-view section p1,p3,p4 {
      padding: 5px;
      text-align: left;
      color: black;
  }
  .card-view section p1,p2,p3,p4 {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      color: black;
  }
  .list-view p2 {
      display: none;
  }
  .card-view {
  grid-template-columns: repeat(2, 1fr);
  }

}

.join {
  display:block;
  grid-row: 4/5;
  grid-column: 1/4;
  text-align:center;
  padding: 20px;
  margin: 1%;
}
.join p {font-size: 1.5em; margin: 5px;}
.join button {
  padding: 20px;
  font-size: 1.3em;
}
/* ***************************************** Reserve page ******************* */

.grid-reserve form .reservations_form {
  grid-column-start: 1 ;
  grid-row: 2;
}
.grid-reserve form  {
  grid-column-start: 1;
  grid-row: 3;
  min-width: 450px;
  align-self: center;
}

form label.top input, form label.top select, form label.top textarea {
  font-size: 1.2rem;
}
form {
  text-align: left;
  justify-content: center;

}
form fieldset {
  width: 90%;
  margin: 1%;
}
form label.top input, form label.top select, form label.top textarea {
  font-size: 1.2rem;
/*  min-width: 90%;
  max-width: 90%; */
}
div.membership{
  display: grid;
  grid-template-columns: 160px auto;
  grid-template-rows: auto;
  column-gap: 1%;
}
label {
  grid-column: 1;
}
p.member-message {
  grid-column: 2;
  font-weight: 400;
  margin: 5px;
  text-align: left;
}
/* *********************** SERVICES *************************** */
.services-grid {
  grid-template-columns: 1fr 1fr;
}
.services-grid section {
  grid-column: auto;
  min-height: 600px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.services-grid h1 {
  font-size: 1.4em;
}
}
/* *************************** HOT TOPICS ************************** */
