:root {
    --primary-color: Lightblue;   /* #648caf */
    --primary-color: #3a57a8;   /* #648caf */
    --secondary-color: #B7E1FF;  /* #B7E1FF */
    --accent1-color: #BF9DB7;  /* #BF9DB7 */
    --accent2-color: #ADE3C1;  /* #ADE3C1 */
    --neutral-color: aliceblue;
    --neutral2-color: #FFDA9A;   /* #FFDA9A */
    --heading-font: 'Roboto Serif', serif;
    --paragraph-font:  'Lato', sans-serif;
     /* font-family: 'Lato', sans-serif;
      font-family: 'Roboto Serif', serif;
       */
  }
/* **************************** DROP DOWN MENU **************** */
     /* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #29b2b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

body {
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 1.2em;
    display:block;
    background-color: rgb(241, 245, 250);
}
main {
  display:block;
  margin:auto;
}
h1, h2, h3, h4 {
  font-family: 'Roboto Serif', serif;
  color: #05216f;

}
h2 {font-size: 1.7em;line-height: 1.3em;}
h3 {font-size: 1.4em;line-height: 1.2em;}
h4 {font-size: 1.2em;line-height: 1.2em;}

.topdiv {
  display: grid;
  grid-template-columns: 60px auto 50px;
  grid-template-rows: 60px;
  background-color: #dfe7f8;
  /* border-bottom: 1px solid rgb(132, 171, 248); */
  width: 100%;
  text-align: center;
  height: 100px;
}
 .topdiv div.social {
    grid-column: 1;
   /* grid-row: span 2; */
    justify-content: space-around;
    align-items:center;
    margin: 5px 0px;
    padding-bottom: 5px;
}
div.mid {
    grid-column:2;
    grid-row: 1;
    min-width: 140px;
    margin: 8px 0;

}
div.hambtn {
    grid-column: 3;
    grid-row: 1;
    justify-content:center;
    justify-items:center;
    align-content: center;
    height: 60px;
    padding-top: 10px;
    padding-right: 10px;

}
.banner {
  grid-column: span 3;
  justify-content: center;
  text-align: center;
  background-color: #ADE3C1;
  background-color: #B7E1FF;
  background-color: lightblue;
  width: 100%;
  max-width: 100%;
  padding: 10px 3px;
  margin: 0;
}
#dybanner {
  color:#001557;
  font-size: .9em;
  font-weight: bold;
  width: 100%;
  text-align:center;

}

  /*  ************* HEADER  ********* */
header {
    position:relative;
    display:grid;
    grid-template-columns:1fr ;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    max-width: 100%;
    max-height: 150px;
    justify-content: center;
    align-items:center;
    color:rgb(28, 48, 146);
    background-color:rgb(241, 245, 250);
    border-radius: 0px;
    background-image: url('../images/headerImg.png');
    background-position-x: 20%;
    background-position-y: 25%;
    background-repeat: no-repeat;
}

header picture.logo {
    grid-column: 1;
    grid-row: 1;
    align-items: center;
    justify-content: center;
}

header picture.logo img {
    display:block;
    max-width: 250px;
}
/* Style all font awesome icons */
.fa {
  padding: 5px;
  font-size: 24px;
  width: 24px;
  text-align: center;
  text-decoration: none;
  margin: 1vh 1vw;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #697897;
  color: white;
  border-radius: 50%;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 50%;
}
.btncontainer {
  grid-column: 1;
  grid-row: 2;
  text-align: right;
  justify-content: end;
  height: 20px;
  min-width: 100%;
  width: 100%;
}
.btn_reserve {
  font-weight: bolder;
  background-color: rgba(247, 245, 134, .6);
  color: #1c4df1;
  font-size: 1.2em;
  padding: 10px 5px;
  border: 2px solid #f2f2e0;
  text-decoration: none;
  width: 100%;
  min-width: 100%;
  border:2px solid rgb(244, 212, 50);
  border-radius: 4px;
}
/* NAVIGATION ***************** */

 button#ham {
    flex: 1;
    justify-content: space-between;
    align-self: center;
    text-align: center;
    border: 2px solid #235bf5;
    border-radius: 4px;
    font-size: 2em;
    color: #235bf5;
    background-color: transparent;
    max-width: 1.3em;
    height: 40px;
    width: 40px;
    padding:0;
    }

.container  {
	margin: 0 auto;
}
 nav {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: aliceblue;
    margin:0;
    z-index: 1000;
    position: absolute;
    top: 60px;
   /*width: 200px; */
   background-color:#3a57a8;
   min-width: 320px;
   width: 100%;
    right: 0;
    text-align: left;

}
nav ul {
  display: none;
}
nav ul#primaryNav {
  width: 100%;
  height: 40px;
  margin-left: -40px;
  }
nav ul#primaryNav li {
  display:block;
  background: linear-gradient(90deg, transparent, yellow, transparent) top /
		var(--d, 0) 5px no-repeat;
  background-color:#3a57a8;
}
nav ul li a {
  display: block;
  padding: .8rem 0vw;
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
	text-align: center;
	text-decoration: none;
  cursor: pointer;
	font-size: 1.1rem;
  font-family: 'Lato', sans-serif;
  letter-spacing: .1em;
	background: linear-gradient(90deg, transparent, yellow, transparent) top /
		var(--d, 0) 5px no-repeat;
	transition: 0.5s;
  margin: 0;
}
nav ul li a:link {
  color: aliceblue;
}
nav ul li a.active  {
  background-color: rgba(0,0,0,.2);
  color: #0aec5d;
}
nav ul li a:hover {
  background-color: rgba(0,0,0,.3);
  color: yellow;
}

nav ul.open {
  display: block;

}
nav ul.open li {
  display: block;

}

nav ul.open li a {
  display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
  color: aliceblue;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
  /* border-top:2px solid #b9c1f0;
  border-bottom:1px solid #263575; */
  min-width: 100%;
  width: 100%;
  max-width: 100%;

}

nav#primaryNav.navigation.open ul li {
  width: 100%;
  display:block;
  border:1px solid #0f4077;
}
nav ul.open li a:visited {
  color: yellow;
    --d: 75%;
    width: 100%;
}
nav ul.open li a:hover {
  color: rgb(106, 255, 0);
    --d: 75%;
    width: 100%;
}
nav ul.open li a:active {
  color: rgb(15, 248, 30);
    --d: 75%;
    background-color:#ADE3C1;
    width: 100%;
}

nav ul.open ul {
	display: block;
	/* position: absolute;
	 top: 50px; /* the height of the main nav */
   text-align: left;
}
li.sub {text-align: left}

#ham span:nth-child(1) {display:block}
#ham span:nth-child(2) {display:none}

#ham.open span:nth-child(1) {display:none}
#ham.open span:nth-child(2) {display:block}
/* ************************* HOME ***************************** */
div.home-grid {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 450px 100px 400px 600px 400px;
   justify-content: center;
   align-content: center;
}
/* ******************************** Hero ******************** */
.home-grid section {
  max-width: 1200px;
  justify-content: center;
}
.hero {
  grid-row: 1;
  grid-column: 1;
  position: relative;
  display: flex;
  flex-direction: column;

}
.hero picture.hero-img img {
    min-width: 320px;
    width: 100%;
    max-width: 400px;
    height: 450px;
    object-fit: cover;
    justify-content: center;
}
.hero h2 {
  color: #f2f6f8;
  font-size: 1.4em;
  text-align: center;
  text-shadow: 2px 2px #333;
  padding: 10px 20px;
  width: 250px;
  position: absolute;
  right: 1%;
  bottom: 20%;
  background-color: rgba(27, 58, 216, 0.6)
 }
 .call {background-color: rgba(247, 245, 134, .6);}
 a.btn_call {
  font-weight: bolder;
  background-color: rgba(247, 245, 134, .6);
  color: #1c4df1;
  font-size: 1.2em;
  padding: 10px 5px;
  border: 2px solid #f2f2e0;
  text-decoration: none;
  position: absolute;
  bottom: 11%;
  right: 2%;
  left: 2%;
  text-align: center;
  padding: 5px;
  margin:auto;
  width: 250px;
  border-radius: 4px;
  border:2px solid rgb(244, 212, 50);
  border-radius: 4px;
}

  a:hover .btn_call {
    color:#a4f4f4;
    text-decoration: green wavy underline;
  }
/* *********************** HOME - CHECK FORM ************** */
section.checkAccom {
  grid-column: 1;
  grid-row: 2;

}
section.checkAccom h3{
  padding:10px 10px;
  text-align: center;
  margin: 1%;
}
.checkform {
  margin: 2%;
  align-items: center;
}

.checkform form.check {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2%;
}

.checkform label {
  font-weight: bold;
}

.checkform form input.submitBtn {
   height: 50px;
   margin: 1%;
   padding: 5px;
   justify-content: center;
}
div.checkform form.check input {
  max-height: 50px;
  margin-bottom: 1%;
}

/* ********************************** HOME- Weather ************************ */
.weather-main {
  grid-column: span 3;
  grid-row: 3;
  justify-content: center;
  align-content: center;
  min-height: 200px;
  background-color: aliceblue;
  margin: 2%;
}
/* grid */
.weather-grid {
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 0 1fr 1fr 1fr ;
}
.weather-grid h2 {text-align: center;}
/* or flex */
.weather-grid-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
api-weather-box {
  width: 80%;
  border: 2px solid #97a9f7;
  background-color: aliceblue;
  color:rgb(36, 82, 247);
}

.weather-section {
  grid-row: 3;
  grid-column: 1 / 3;
  background-color:aliceblue;
  color: rgb(43, 62, 160);
  padding: 10px;
  margin: 2%;
  border:2px solid rgba(10, 52, 88, .8);
  padding: 5px 20px;
  text-align: left;
  font-size: 1.2em;
}
.weather h3 {
  grid-column: 1;
  grid-row: 1;
  padding:5px 10px;
  text-align: left;
}
.weather #icon-src {
  display:none;
}
.weather-grid p {
    padding: 2px 10px;
    margin:0;
    font-size: 1em;

}
.row::after {clear: both;}
#current-temp {font-size: 1.6em;}
.col {display:inline-flex;margin: 4%;}
.wcard img.card-img-top  {background-color: lightblue; min-width: 100%;}
.wcard {width: 260px; height: 610px;border: 1px solid #000; border-radius: 4px; background-color: aliceblue}
.card-body {margin: 2%;padding: 5px;}
h4.card-title {background-color: rgba(38, 76, 158, 0.925);color: white;padding: 5px;margin:0;
font-size: 1.2em }
h3.card-title {margin-top: 0;margin-bottom: 0;font-size: 1.4em;background-color: transparent;font-weight: bold}
p.card-text {margin:0;padding: 2px;color:rgb(5, 60, 155)}

/* *********************** HOME- FEATURED ******************** */
.featuredtemples {
  grid-column: span 3;
  grid-row: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content:left;
}
.featuredtemples h2 {text-align: center;}
.featuredtemples section {
  display:flex;
  flex-direction: column;
  min-height: 500px;
  text-align: center;
  font-size: 1.1em; font-weight: bolder;
  line-height: 1.4em;
  margin: 2%;
  border: 2px solid rgba(20, 106, 181, 0.8) ;
  border-radius: 8px;
  }
section.featuredtemples h3 {
  flex: auto;
  min-height: 40px;
  font-size: 1.4em;
}

section.featured1 a, section.featured2 a, section.featured3 a {
  color: #de36e7;
  font-size: 1.2em;
  text-shadow:1px 1px 1px rgb(10, 52, 88);
  font-weight: bold;
  letter-spacing: .1em;
}
.featured1 a:hover, .featured2 a:hover,.featured3 a:hover {
  color:rgb(2, 255, 27);
  font-weight: bold;
  letter-spacing: .1em;
}


.featuredtemples img.templeimg {
  display:block;
  min-width: 250px;
  max-width: 260px;
  margin:5px auto 10px auto;
  padding: 5px;
  padding-bottom: 5px;
  box-shadow: 1px 1px 8px #3d4e7d;
  border:1px rgb(17, 75, 168) solid;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}
section.featured1, section.featured2,section.featured3 {
  flex: auto;
  display:flex;
  justify-content: flex-start;
  background-color:rgba(193, 202, 241, 0.4);
  border: 2px solid rgba(104, 111, 248, 0.8);
  margin: 2%;
  }


/* **************************HOME  hottopic **************** */
 .hottopic {
   grid-column: 1 / 3;
   grid-row: 5;
   min-height: 400px;
   display: flex;
   flex-direction: column;
   text-align: center;
   margin: 1%;
   border: 1px solid blue;
 }

 picture .service1 {width: 300px;background-color: white; border: 1px solid #0f4077}
picture .service1 img {min-width: 300px;max-width: 300px; object-fit: cover;}



/*  ************************************ FOOTER *********************************** */
footer {
    display: grid;
    grid-template-columns: 1fr;
  /*  grid-template-rows: 90px 160px 180px 70px 160px ; */
  grid-template-rows: 125px 155px 170px 60px 100px 60px;
    justify-content: center;
    text-align: center;
    width: 100%;
    line-height: 1.3em;
    color:rgb(28, 48, 146);
    background-color: #dfe7f8;
    font-family: 'Loto', sans-serif;
    border-radius: 0px;
    padding: 10px 0;
    margin-bottom: 0;
}

footer .flogo {grid-column: 1; grid-row: 1; }
footer .flogo img.ftrLogo{ min-height: 120px;}
footer div.address {grid-column: 1; grid-row: 2;}
footer div.address h2 {
    font-size: 1.4em;
    padding: 10px;
    margin: 5px auto;
    letter-spacing: 2px;
    color: #415bd1;
    border-bottom: 1px solid #a5b2f8;
}
footer div.fmap {grid-column: 1; grid-row: 3;align-items: center;
  align-self: center;}
footer .fmap iframe {
  border: 1px solid #697897;
  box-shadow: 2px 2px 10px rgba(0,0,0,.3);
}
footer .fsocial {
  grid-column: 1;
  grid-row: 4;
  justify-content: center;
  align-items: center;
  height: 60px; }

footer .copyright {
  grid-column: 1;
  grid-row: 5;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
p.copy, p.api, p.mod {margin: 0; padding: 5px;}
footer div.att {
  grid-column: 1;
  grid-row: 6;
}
/* ******************* Temples DIRECTORY ************ */
/* ******************* DIRECTORY ************ */

.list-view-btn {
  display:flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.list-view-btn img {
  width: 50px;
}
.list-view-btn button {
  background-color: aliceblue;
  margin: 0;
  padding: 0;
  border: none;
}
.list-view-btn button img {
  width: 100%;
  border: none;
}
button#listBtn {
  align-self: center;
  padding: 4px 10px 7px 10px;
  margin: 10px;
  font-size: 40px;
  vertical-align: center ;
  border-radius: 4px 4px;
  border:1px solid rgb(15, 80, 138);
}

button#cardBtn {
  align-self: center;
  padding: 4px 15px 7px 15px;
  margin: 10px;
  font-size: 40px;
  vertical-align: center ;
  border-radius: 4px 4px;
  border:1px solid rgb(15, 80, 138);
}
button#listBtn:hover {
  border: 1px solid rgb(243, 114, 8);
  background-color:rgb(137, 221, 247);
}
button#listBtn:focus {
background-color:rgb(137, 221, 247);
}
button#cardBtn:hover {
   border: 1px solid rgb(243, 114, 8);
  background-color:rgb(137, 221, 247);
}
button#cardBtn focus {
background-color:rgb(137, 221, 247);
}
button#cardBtn .cards .card-view {
  background-color:rgb(137, 221, 247);
}
main.directory {
  display:block;
  display:flex;
  flex-direction: column;
  margin:2%;
}
.directory h2 {
   padding: 10px;
   color: rgb(27, 76, 239);
   font-size:1.5em;
   text-align:center;
   margin:2%
  }

.directory {
  text-align: center;
}
.directory p {
  font-size: 1.2em;
  margin: 0 4%;
  text-align: left;
  padding: 5px;
  border-top:3px double #04f393 ;
  border-bottom: 3px double #04f393;
}
.list-view img, card-view section h3 {
  display:none;
}

.list-view section {
  display:grid;
  grid-template-columns: 1fr;
  border-radius: 15px;
  border: 2px solid white;
  padding: 0 0 15px 0;
  border-radius: 8px;
  margin: .5vw 2%;
  font-size: .9em;
}

.list-view section h3{
  grid-column:1;
  margin: 0;
  padding: 10px 10px;
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  background-color: transparent;
  color:rgb(10, 52, 88);
}
.card-view section h3 {
  grid-column:1;
  margin: -10px -5px 0 -5px;
  padding: 10px 0 ;
  width: 100%;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #8498cf;
  color:aliceblue;
  border-radius: 8px;
}
.list-view section img.templeimg {
    grid-column: 1;
    grid-row: span 2;
    width: 200px;

}
.list-view p {
  justify-items: left;
}
.list-view  a {
  color:rgb(10, 52, 88);

}
.list-view a:visited {
  color:rgb(243, 114, 8);

}
.list-view p3 {
  display: block;
  text-align:left;

}
.card-view section {
  display:grid;
  grid-template-columns: 1fr;
  border:1px solid #8498cf;
  border-radius: 8px;
}

.card-view img {
  display:block;
  width: 200px;
  margin:10px auto;
  padding: 5px;
  border-radius: 100%;
  border-style: groove;
  border:3px solid #8498cf;
  background-color:rgba(137, 221, 247, .3);
  transition: transform 0.2s ease-in-out;
}

.card-view {
  display:grid;
  grid-template-columns: 1fr;
}

.card-view section {
  padding: 4%;
  margin: 2%;
  border-radius: 8px;
  border: 3px solid #8498cf;
  box-shadow:2px 8px 8px rgba(10, 52, 88, .4);
  background-color: aliceblue;
}

.list-view section p1,.list-view section p3, .list-view section p4, .list-view section p5, .list-view section mem {
  display:block;
  margin-left:5px;
  margin-right: 2%;
  margin-top: 0;
  margin-bottom: 0;
  text-align:left;
  color: #000;
  padding: 5px 5px;
  line-height: 1.2em;
}
.list-view section:nth-child(even){
   background-color:rgba(175, 203, 243, 0.8);
}
.list-view section:nth-child(odd){
   background-color: aliceblue;
}

/* .list-view section p1,p2,p3 {
  margin-left:0;
  margin-right: 0;
  font-size: 1em;
  text-align:left;
  color: #000;
} */

.card-view section p1, p3, p4, p5 {
  display: block;
  align-content: center;
  margin-left:auto;
  margin-right: auto;
  padding: 5px;
  font-size: 1em;
  text-align:center;
  color: #000;
}
/* .list-view section p1,p2,p3 {
  margin-left:0;
  margin-right: 0;
  font-size: 1em;
  text-align:left;
  color: #000;
} */

.list-view section p2{
   display: none;
}

.card-view section p2{
   display: none;
   text-align: left;
   margin: auto;
   padding: 5px 20px;
}

.card-view section p2{
   display: none;
}

.list-view section p2{
   display: none;
}

.activeBtn {
  background-color:rgba(137, 221, 247, .8);
}

/* ************************ FEATURED TEMPLES ******************** */
/* ****************************** RESERVATIONS *************************** */

.reserve {
  grid-row-start: 8;
  background-color: rgba(38, 144, 186, 0.9);
  border: 2px solid rgba(10, 52, 88, .8);;
  display: none;
  color: aliceblue;
}
.submit-reservation button  {
  background-color:rgb(247, 245, 134);
  color: #3735b6;
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px auto 5px auto;
  padding: 5px 20px;
  border: 1px solid #CE5505;
  border-radius: 4px;
}
.reserve p {padding: 5px 10px;font-size: 1em}
/* ********************** Reservation PAGE ************************** */
h2.reserve_heading { padding: 10px 20px; font-size: 1.3rem; text-align: center}
section.grid-reserve {
  display: flex;
  flex-direction: column;

}

.grid-reserve article {
  flex: auto;
  display: flex;
  flex-direction: column;
}


form .reservations_form {
  grid-column: 1 ;
  grid-row: 2;
  display: flex;
  flex-direction: column;
}
 form .specials_form {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  flex-direction: column;
}

/* ----------------- FORM STYLING */
 form  {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  }

form fieldset {
    border: 2px solid #cfe2f8;
    border-radius: 10px;
    padding: 1%;
    margin: 1rem 2%;
}
form legend {
    color: #0f4077;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1em;
    font-weight: bold;

}
form label.top {
    display: block;
    padding-top: 1rem;
    color:  #0f4077;
    font-size: 1rem;
    font-weight: bold;
}
form div {
    display: block;
    padding-top: 1rem;
    color: #0f4077;
    font-size: 1rem;
    font-weight: bolder;
}
.hint{font-size: .7em}
form label.top input, form label.top select, form label.top textarea {
    -webkit-appearance: none;
    display: block;
    font-size: .8rem;
    font-weight: 400;
    border: 1px solid #999;
    border-radius: 4px;
    color: #0f4077;
    padding: .75rem;
    min-width: 90%;
    background-color: rgba(0,0,0, .1);
    background-color:rgba(15, 64, 119,.1)
}
form label.top textarea {
  font-size: 1em;
  font-weight: bold;
  color:rgba(243, 105, 13, 0.6);
  text-shadow:1px 1px black;
}
form label textarea {
  font-size: .9em;
  font-weight: normal;
  color: #000;
  text-shadow: none;
}
form label textarea#comments {
  font-size: .9em;
  font-weight: normal;
  color: #000;
  text-shadow: none;
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #0f4077;
    font-weight: bold;
}
form label input {
  font-size: .8em
}
p.member-message {
  display:none;
}
form input.submitBtn {
    border:none;
    color: white;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    margin: 2%;
    font-weight: bold;
    font-size: 1em;
    transition-duration: 0.4s;
    background-color: #2543ec;

}
form input.submitBtn:hover {
  text-shadow:0 12px 15px rgba(0,0,0,.3);
  color: rgb(23, 255, 2);
}
form label.top input:required {
    border: 1px solid #ce3405;
}

form label.top input:required:valid {
    border: 1px solid green;
}

/* *********************** SERVICES *************************** */
.hero-services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;

  }
  div.hero-services h2{
  color: #f2f6f8;
  font-size: 1.5em;
  text-align: center;
  text-shadow: 2px 2px #333;
  padding:20px 10px;
  position: absolute;
  width: 250px;
  height: 200px;
  bottom: 20%;
  right: 2%;
  background-color: rgba(27, 58, 216, 0.6)
 }
 /* **************************** SERVICES **************************** */
section .services-grid, section.reception-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.specialgroup h2 {text-align: center;background-color:rgba(57, 70, 186, 0.8);color: aliceblue;padding: 10px 20px;margin: 0 auto}
section.services-grid article  {
  flex: auto;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:3px solid #c7cff8;
  border-radius: 0;
}
 section.services-grid article h2 {text-align: center;margin:0;padding: 10px 20px;}
 section.services-grid article div.body-text, section.reception-grid article div.body-text, section.mission-grid article div.body-text {
   padding: 10px 40px;font-size: 1.2em;
 }
 section.services-grid article picture, section.reception-grid article picture, section.mission-grid article picture {
  justify-content: center;
  margin: 2% auto;
}
 section.services-grid article picture img {
   min-width: 320px;
   border: 5px solid #b3f1ca
}
/* ********************** RECEPTION, MISSIONARY *********************** */
.mission-grid h1 {text-align: center;padding: 20px}
section.reception-grid article, section.mission-grid article  {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:3px solid #c7cff8;
  border-radius: 0;
  padding: 10px;
  margin: 2%;
}
/* ************************** TEMPLE MISSIONARIES ********************** */


/* ********************** WEATHER ALERT ************************* */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 25% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
h3 span#event{font-weight: bold}

#icon-src {
    display: none;
    height: 10px;
}
.dis-card {
  display: flex;
  flex-direction: column;
  transition: box-shadow .2s;
  box-shadow:1px 10px 10px #0f4077;
  width: 300px;
  height: 425px;
  border-radius:10px;
  border: 1px solid #ccc;
  background: #fff;
  margin: 25px auto 5px 2%;
}
.box {
  display: block;
  width: 100%;
  height: 450px;
  padding: 10px;
  margin: 2%;
  background: url('../images/temples/fresno-sm.webp');
  background-repeat: no-repeat;
  background-size: contain;
}
section.confirm {
  margin: 6%;
}

/* ************************** CONTACTS ***************************** */
section .contacts-grid {
  display: flex;
  flex-direction: column;
  margin: 4%;
}
section.contacts-grid h2 {text-align: center;}

div.general h4 {margin-bottom: 0} div.general p {margin-top: 0}

 section.contacts-grid article {
  flex: auto;
  display: flex;
  flex-direction: column;
  margin: 4%;
}

form .contact_form {
  display: flex;
  flex-direction: column;
}

.member {font-size: 1.2em;color: rgb(37, 44, 249);background-color:rgba(213, 250, 201, 0.9);border:1px solid #0aec5d; padding: 10px; margin: 2%}
.member .boardmem{font-size: 1.5em;margin: 2px 3px; }
.member .boardpos{margin:3px 3px 0 3px;}
.member .boardemail{margin:0px 3px 3px 3px;}