@media only screen and (min-width: 58rem) {
div.topdiv {height: 60px;}
.hambtn {display:none}
header picture.logo {
    align-items: center;
    justify-content: left;
}

header {
    position:relative;
    display:grid;
    grid-template-columns:50px auto 50px;
    grid-template-rows: 1fr;
    max-width: 1024px;
    justify-content: left;
}
/* Flex *********************/
nav {
    position: relative;
    flex-direction: row;
    top: 5px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background-color:transparent;
    min-width: 750px;
    max-width: 100%;
    border-bottom: 2px solid lightblue;
    margin:0;
  }
nav ul li {
  flex: 1 1 auto;
}

nav ul li a {
  color: aliceblue;
  padding: 10px 10px;
}
nav ul#primaryNav {
  display:flex;
  background-color: #B7E1FF;
  justify-content: space-evenly; /* left aligned */
   margin-right: 0;
   max-width: 100%;
}

nav ul li a {
  border:none;
  border-left: 0px solid rgba(0,0,0,.2);
  border-right: 0px solid rgba(0,0,0,.1);
  padding: .5rem 1rem;
  color: rgb(35, 95, 185);
  font-size: 1.3em;
  letter-spacing: .03em;
}
.hero h2 {
  color: #f2f6f8;
  font-size: 1.8em;
  text-align: center;
  text-shadow: 2px 2px #333;
  padding:40px;
  position: absolute;
  bottom: 25vh;
  right: center;
  background-color: rgba(27, 58, 216, 0.6)
 }
.hero div.call a.btn_call {text-align: center;width: 500px}
/* ****************** FOOTER ************************** */
footer {
  grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 100px;
    padding-top: 20px;
}
img.ftrLogo { min-width: 200px;}
footer .wrap {
  grid-row: 2;
  grid-column: span 3;
  display: flex;
  flex-direction: column;
}
   .intro {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 1200px;
}
.hero {
  grid-column: span 3;
  grid-row: 1;
  max-width: 1200px;
  object-fit: cover;
  object-fit: center;
}
.temple-home {
  grid-column: span 3;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
}
.temple-home .cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
}
.featured {
  display: flex;
  flex-direction: row;

}
.featured:nth-child(1){
  flex: 1fr;
}
}