.grid {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9,1fr);
}
img {
    width: 300px;
    height: 400px;
    border: 1px solid red;
}
[data-src] {
    min-width: 50px;
    min-height: 50px;
}