.grid {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9,1fr);
}
.grid img {
    width: 300px;
    height: 400px;
}
[data-src] {
    min-width: 300px;
    min-height: 400px;
}
picture img[data-src] {
  filter: blur(0.2em);
}

.grid picture img {
  filter: blur(0em);
  transition: filter 0.5s;
}