body {
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    display:block;
    background-color: rgba(28, 176, 162, .8);
}

h2 {font-size: 2em; padding: 5px 10px; color: white;  background-color: #0f4077;}
footer h2 {font-size: 2em; color: #1cb0a2; }
h3 {font-size: 1.6em;color: white;padding: 5px 10px; background-color: #0f4077}
.hero h2, .hero h3 {background-color: transparent; line-height: 1.1em}
a.maplink { display:block}
.contacts img { width: 32px; height: 32px;}
/*  ************* HEADER  ********* */
header {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    color:rgb(242, 243, 248);
    width: 100%;
    min-height: 80px;
    padding: 0;
    margin:0;
    background-color:rgb(15, 64, 119);
    border-radius: 0px;
   /* box-shadow: 5px 5px 5px 5px rgba(141, 187, 240, 0.5); */
    position:relative;
}

header .wrap {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    background-color:rgb(15, 64, 119);
    margin: auto;
}
.banner {
  text-align: center;
  background-color: #1cb0a2;
  width: 100%;
  padding: 10px;
  margin: 0;
}

.topdiv {
  background-color: #046fb9;padding: 3px;
  width: 100%;
  padding: 10px;
  margin: 0;
}

#dybanner {
  color: rgb(247, 245, 134);
  font-size: .9em;
  width: 100%;
  text-align:center;
}
header picture.logo {
    align-items: center;
    justify-content:center;
    min-width:75px;
}

header picture.logo img {
    display:block;
    max-width: 65px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: flex-start;
}

.heading {
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 2vh;
    padding: 10px 0;
    align-self:flex-start;
    text-align: left;
    min-width: 150px;
}

.heading h1 {
    justify-content: flex-start;
    text-align:left;
    text-shadow:1px 1px rgba(40, 40, 41, 0.6);
    font-family: 'Merriweather', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 0;
}

.sub  {
    font-size: .8em;
    margin-top: 0;
    padding:0;
    text-align: left;
}

.social {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    justify-content: center;
    text-align:right;
    margin: 0 5px;

}
/* Style all font awesome icons */
.fa {
  padding: 5px;
  font-size: 24px;
  width: 24px;
  text-align: center;
  text-decoration: none;
  margin: 1vh 2vw;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #697897;
  color: white;
  border-radius: 50%;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 50%;
}

div.daydate {
    display:flex;
    text-align: center;
    color:rgb(242, 243, 248);
    font-family: "Open Sans", sans-serif;
    background-color:rgb(15, 64, 119);
    font-size: .9em;
    padding: 0;
    margin: 0;
}
p.time {
    justify-content: center;
    width: 100%;
    padding: 5px;
    margin:5px 3px;
    background-color:rgba(78, 139, 209, 0.6);
    border:1px solid #046fb9;
}
/* NAVIGATION ***************** */

 button#ham {
    justify-content: flex-start;
    align-self: center;
    text-align: left;
    border: 1px solid #a3d3f5;
    border: none;
    border-radius: 4px;
    font-size: 2em;
    color: #a3d3f5;
    background-color: transparent;
    max-width: 2.0em;
    height: 44px;
    width: 44px;
}
nav {
    /*background-color:#eee; */
    margin: 1vh auto;
    color: #000;
    margin:0;
    z-index: 1000;
    display:flex;
    justify-content:left;
    align-items: center;
    position: absolute;
    top: 85px;
    right: 40%;
    width: 200px;
    right: 0;
    text-align: left;
    background-color:#046fb9;
}
nav ul {
  list-style-type: none;
  display:block;
	padding: 0;
	margin: 0;
}
nav ul li a {
  display: block;
  padding: .8rem 2vw;
  text-decoration: none;
  /*color: #333;
  border-top: 1px solid rgba(0,0,0,0.5);*/
  color: #fff;
	text-align: center;
	text-decoration: none;
  cursor: pointer;
	font-size: 1rem;
  font-family: "merriweather", serif;
  letter-spacing: .1em;
  max-width: 100%;
  /* font-weight:500; */
	background: linear-gradient(90deg, transparent, yellow, transparent) top /
		var(--d, 0) 5px no-repeat;
	transition: 0.5s;
}
nav ul li.active a {
  background-color: rgba(0,0,0,.2);
  color: #fff;
}
nav ul li a:hover {
  background-color: rgba(0,0,0,.3);
  background-color: transparent;
  color: yellow;
    --d: 75%;
}

nav ul {
  display: none;
}
nav ul.open {
  display: block
}

nav ul.open li a {
  display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
  color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
  border-bottom:#55ACEE;
}

#ham span:nth-child(1) {display:block}
#ham span:nth-child(2) {display:none}

#ham.open span:nth-child(1) {display:none}
#ham.open span:nth-child(2) {display:block}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color:rgb(15, 64, 119);
    color:rgb(242, 243, 248);
    font-family: "Open Sans", sans-serif;
  /*  text-shadow: 1px 1px 3px #102c47; */
    border-radius: 0px;
   /* box-shadow: 5px 5px 5px 5px rgba(217, 217, 247, 0.4); */

}

footer .address h2 {
    font-size: 1.3em;
    padding: 3px;
    margin: 5px auto;
    letter-spacing: 2px;
    color: #1cb0a2;
    text-shadow: 1px 1px #000;
}
.contactInfo {
    font-size: .9em;
    letter-spacing: 1px;
    padding: 3px;
    margin: 15px auto
}
.contactInfo .contacts {
    padding:10px 0;
}
div.contacts {line-height: 2em}
footer .wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    margin-bottom: 5px;
    padding: 10px;
 }
footer .wrap .copyright {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    font-size: .9em;
    padding: 5px;
    line-height: 1.4em;
}
footer .wrap span.author {font-size: 1.2em; font-weight: bold}
footer .wrap span.project {font-size: .9em}
footer .wrap span.modified { font-size: .9em; }
footer a.maplink {color:#1cb0a2;}
main {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px 200px 220px 225px 225px;
    width: 100%;
    row-gap: 10px;
    column-gap: 10px;
    background-color: rgb(28, 176, 162);
    background-color: rgba(28, 176, 162, .3);
}
.hero {
  grid-row: 1;
  grid-column: 1/3;
  /* background-image: url('../images/imgp8973_sm.jpg'); */
  /* background-image: url('../images/wdd230-org-sm.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color:rgba(38, 144, 186, 0.9);
  border:1px solid #333;
  position: relative;

}
.hero picture.hero-img {
 /* justify-content: center;
  align-self: center; */
  min-width: 400px;


}
.hero picture.hero-img img {
    min-width: 500px;
    width: 100%;
    height: 210px;
    object-fit: cover;
}
.hero h3 {Color: #1cf0f0; font-size: 1.5em; text-align: center; text-shadow: 2px 2px #333; position: absolute; top: 6vh; left:4vw; background-color: transparent }
.hero div.call {font-weight: bolder;background-color: rgb(247, 245, 134); color: #0f4077;  padding: 5px 20px; border: 1px solid #CE5505; position: absolute; bottom: 2vw; right: 2vw; width:175px; height: 25px; text-align: center; border-radius: 8px;
}
.events {
  grid-row: 2;
  grid-column: 1/3;
  background-color: #2690ba;
  background-color: aliceblue;
  border:1px solid #333;
}
.events h3 {margin: 0px 0px 20px 0px; background-color: #0f4077; padding:5px 10px;}
.events ul {list-style-type: none; margin: 0px -5px;display: flex;flex-direction: column;max-width: 85%;}
li.upevents {display:block; font-weight: bold;background-color: white; border: 1px solid rgb(230, 228, 228); border-radius: 4px; max-height: 45px;padding:5px;margin:3px;}
ul.events li.upevents {text-shadow:#697897}
span.md {width: 20px;margin-right: 5px;padding: 8px;font-size: .8em; text-align: left;}
span.up {padding: 8px; font-size: .8em; text-align: left; }
.more {font-size: .6em; color:#CE5505   }
ul li.upevents span:nth-child(3) {text-align: right}
li.upevents span.read  { text-align: right}
.weather {
  grid-row: 3;
  grid-column: 1/3;
  background-color:rgba(38, 144, 186, 0.9);
  border:1px solid #333;
  padding: 5px 10px;
}
.weather h3 {margin: -6px -10px 10px -10px; background-color: #0f4077; padding:5px 10px; text-align: left;}
.news {
  grid-row: 4;
  grid-column: 1/3;
  background-color: white;
  border:1px solid #333;
  text-align: left;
  font-size: .9em;
  line-height: 1.2em;
  padding: 20px;
}
.news h2, .news h3 {
  text-align: left;
  margin: -20px -20px 10px -20px;
  padding: 10px 20px;
}
.news p {
  text-align: left;
  font-size: .9em;
  margin: 0; padding: 3px;
}

.spot {
  grid-row: 5/7;
  grid-column: 1/3;
  background-color:rgba(38, 144, 186, 0.9);
  border:1px solid #333;
  padding: 20px 10px;
}

.spot1 {
  grid-row: 5/6;
  grid-column: 1/3;
  height: 200px;
  border:1px solid #333;
 /* background: #379683 url('../images/spot1-dinoMuseum.jpg') no-repeat bottom right;*/
}

.spot1 img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.spot2 {
  grid-row: 6/7;
  grid-column: 1/3;
  height: 200px;
  background-color:rgba(83, 171, 238, 0.4);
  border:1px solid #333;
}
.spot2 img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}
.spot3 {
  grid-row: 5;
  grid-column: 1/3;
  height: 220px;
  background-color:rgba(83, 171, 238, 0.4);
  border:1px solid #333;
  display:none;

}
.join {
  grid-row-start: 8;
  background-color: rgba(38, 144, 186, 0.9);
  border: 1px solid #333;
  display: none;
  color: white;
}
.join button, .hero button  {
  background-color:rgb(247, 245, 134);
  color: #CE5505;
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px auto 5px auto;
  padding: 5px 20px;
  border: 1px solid #CE5505;
  border-radius: 4px;
}
.join p {padding: 5px 10px;}
.clearfix {clear: both;}

/* ********************** DISCOVER PAGE ************************** */
 main.discover {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 140px 660px 660px 660px 660px 660px 660px 660px 660px 660px ;
    width: 100%;
    row-gap: 10px;
    column-gap: 10px;
    background-color: rgb(28, 176, 162);
    background-color: rgba(28, 176, 162, .3);
    justify-content: center;
    align-content: center;
    text-align:center;
    margin: auto;
}
main .discover section {
  justify-content:center;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
/*
.discover .grid {
    display:grid;
    grid-template-columns: 1fr ;
    grid-template-rows:670px 670px 670px 500px 500px 500px 500px 500px 500px;
    max-width: 400px;
    justify-content: center;
    align-items: flex-start;
    text-align:center;
    margin:auto;
} */
main .discover h2 {
  grid-column: 1;
  grid-row: 1;
}
.card {
  display:flex;
  flex-direction: column;
  height: 640px;
  margin: 5px auto;

}
main.discover .card picture img {
  grid-column: 1;
  width: 300px;
  height: 400px;
  border-radius: 8px 8px 0 0;
}

[data-src] {
    min-width: 300px;
    min-height: 400px;
}
picture img[data-src] {
  filter: blur(0.2em);
}

main.discover card picture img {
  filter: blur(0em);
  transition: filter 0.5s;
}
.card h3 {
  margin:-5px 0 0 0;
  padding: 5px 0;
  background-color:rgb(15, 64, 119);
  color: aliceblue;
  font-size: 1.5rem;
  text-align: center;
}
.card {
  transition: box-shadow .3s;
  width: 300px;
  height: 640px;
  border-radius:10px;
  border: 1px solid #ccc;
  background: #fff;

}
.card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.5);
}
.card .container {
  padding: 2px 16px;
}