body {
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    display:block;
}

header {
    display:flex;
    justify-content: center;
    color:rgb(242, 243, 248);
    width: 100%;
    padding: 0;
    margin:0;
    background-color:rgb(15, 64, 119);
    border-radius: 0px;
   /* box-shadow: 5px 5px 5px 5px rgba(141, 187, 240, 0.5); */

}
header .wrap {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    background-color:rgb(15, 64, 119);
    margin: 0;
}
picture {
    align-items: center; 
    justify-content:center;
    min-width:75px;
}
picture img {
    display:block;
    max-width: 65px;
    justify-content: flex-start;
    
}
.heading {
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    align-self: left;
    text-align: left;
    min-width: 150px;
    margin: auto;

}

.heading h1 {
    justify-content: flex-start;
    text-align:left;
    text-shadow:1px 1px rgba(40, 40, 41, 0.6);
    font-family: 'Merriweather', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 0;
}

.sub  {
    font-size: .8em;
    margin-top: 0;
    padding:0;
    text-align: left;
}


.social {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    justify-content: space-between;
    text-align:right;
    margin: 0;
}
/* Style all font awesome icons */
.fa {
  padding: 5px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 1vh 2vw;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 50%;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 50%;
}


nav button.hambutton {
    justify-content: flex-start;
    align-self: center;
    text-align: left;
    background: transparent;
    border: 0px solid #a3d3f5;
    border-radius: 4px;
    font-size: 2em;
    color: #a3d3f5;
    max-width: 2.0em;
    height: 44px;

}
div.daydate {
    display:flex;
    text-align: center;
    color:rgb(242, 243, 248);
    font-family: "Open Sans", sans-serif;
    background-color:rgb(15, 64, 119);
    font-size: .9em;
    padding: 0;
    margin: 0;
}
p.time {
    justify-content: center;
    width: 100%;
    padding: 5px;
    margin:5px 3px;
    background-color:rgba(78, 139, 209, 0.6);
    border:1px solid #046fb9;
}

/*nav ul{display:none;}
nav ul.open {display:block;} */
nav {
    display:flex;
    justify-content:center;
    align-content: flex-start;
    margin: 1vh auto;
    max-width: 760px;
    height: 50px;
    background-color: transparent;
    background: transparent;
    color: #000;
}
  nav button {
     /* margin: .2rem 2vw; */
      background: transparent;
      border: none;
      font-size: 2rem;
      color:rgb(149, 179, 243);
    /*display:none; */
 } 


nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    display:none;
}
nav ul.open {
    display:block;
}

nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.8rem 2vw;
	text-decoration: none;
	font-size: .9rem;
    max-width:5em;
    /* font-weight:500; */
	background: linear-gradient(90deg, transparent, yellow, transparent) top /
		var(--d, 0) 5px no-repeat;
	transition: 0.5s;
}
nav ul li.active a {
     background-color: responsive rgba(0,0,0,0, .3);
	color: rgb(149, 179, 243);
}
nav a:hover {
	/*background-color: rgb(222, 238, 192);*/
	font-weight: bold;
    background-color: responsive rgba(0,0,0,0, .3);
    color: yellow;
    --d: 75%;
}

/*.navigaton {
    padding:0;
    list-style: none;
}
.navigation li:first-child {
    display:none;
}
.responsive li {
    display:block;
}
responsive a.ham::before{
    content:"X";
}
*/


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    width: 100%;
    background-color:rgb(15, 64, 119);
    color:rgb(242, 243, 248);
    font-family: "Open Sans", sans-serif;
  /*  text-shadow: 1px 1px 3px #102c47; */
    border-radius: 0px;
   /* box-shadow: 5px 5px 5px 5px rgba(217, 217, 247, 0.4); */

}

footer .address h2 {font-size: 1em; padding:0;margin:5px auto; letter-spacing: 2px;}
.contactInfo {font-size: .9em;letter-spacing:1px; margin: 15px auto}
.contactInfo .contacts {padding:10px 0;}
footer .wrap .copyright {font-size: .8em; padding: 5px; flex-direction:row;}
footer .wrap span.modified { font-size: .8em;}
footer .wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;

 }
.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.wrapper > div {
    border:1px dotted #000;
    grid-row: 200px;
}

