/* ******************* DIRECTORY ************ */

.list-view-btn {
    display:flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}
.list-view-btn img {
    width: 50px;
}
.list-view-btn button {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    border: none;
}
.list-view-btn button img {
    width: 100%;
    border: none;
}
button#listBtn {
    align-self: center;
    padding: 4px 10px 7px 10px;
    margin: 10px;
    font-size: 40px;
    vertical-align: center ;
    border-radius: 4px 4px;
    border:1px solid rgb(15, 80, 138);
 }

 button#cardBtn {
    align-self: center;
    padding: 4px 15px 7px 15px;
    margin: 10px;
    font-size: 40px;
    vertical-align: center ;
    border-radius: 4px 4px;
    border:1px solid rgb(15, 80, 138);
 }
 button#listBtn:hover {
    border: 1px solid rgb(243, 114, 8);
    background-color:rgb(137, 221, 247);
  }
 button#listBtn:focus {
  background-color:rgb(137, 221, 247);
 }
 button#cardBtn:hover {
     border: 1px solid rgb(243, 114, 8);
    background-color:rgb(137, 221, 247);
 }
 button#cardBtn focus {
  background-color:rgb(137, 221, 247);
  }

main.directory {
    display:block;
    display:flex;
    flex-direction: column;
    margin:2%;
}
.directory h2 {
    background-color: rgb(10, 52, 88);
     padding: 10px;
     color: aliceblue;
     font-size:1.2em;
     text-align:center;
     margin:auto}

.directory {
    text-align: center;
}

.list-view img, card-view section h2 {
    display:none;
}

.list-view section {
    display:grid;
    grid-template-columns: 1fr;
    border-radius: 15px;
    border: 2px solid white;
    padding: 0 0 15px 0;
    border-radius: 0;
    margin: .5vw 2%;
}
.list-view section h2{
    grid-column:1;
    margin: 0;
    padding: 10px 10px;
    text-align: left;
    font-size: 1em;
    font-weight: bold;
    background-color:rgba(00,00,00,.2);
    color:rgb(10, 52, 88);
 }
.card-view section h2 {
    grid-column:1;
    margin: -10px -10px 10px -10px;
    padding: 10px ;
    width: 100%;
    font-size: 1.3em;
    font-weight: bold;
    background-color: rgb(10, 52, 88);
    color:aliceblue;
}
.list-view p {
    justify-items: left;
}
.list-view  a {
    color:rgb(10, 52, 88);
    font-size: 1em;
}
.list-view  a:visited {
    color:rgb(243, 114, 8);
    font-size: .9em;
}
.list-view p2 {
    display: block;
    text-align:left;

}
.card-view section {
    display:grid;
    grid-template-columns: 1fr;
}

.card-view img {
    display:block;
    width: 100px;
    margin:10px auto;
    padding: 5px;
    border-radius: 100%;
    border-style: groove;
    border:3px rgb(21, 81, 85) solid;
    background-color:rgba(137, 221, 247, .3);
    transition: transform 0.2s ease-in-out;
}

.card-view {
    display:grid;
    grid-template-columns: 1fr;
}

.card-view section {
    padding: 4%;
    margin: 2%;
    border-radius: 0;
    border: 3px solid rgba(10, 52, 88, .8);
    box-shadow:2px 8px 8px rgba(10, 52, 88, .4);
    background-color: aliceblue;
}

.list-view section p1,.list-view section p2, .list-view section p4, .list-view section p5, .list-view section mem {
    display:block;
    margin-left:5px;
    margin-right: 2%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1em;
    text-align:left;
    color: #000;
    padding: 5px 5px;
}
.list-view section:nth-child(even){
     background-color:rgb(137, 221, 247);
}
.list-view section:nth-child(odd){
     background-color: aliceblue;
}

/* .list-view section p1,p2,p3 {
    margin-left:0;
    margin-right: 0;
    font-size: 1em;
    text-align:left;
    color: #000;
} */

.card-view section p1, p4, p5, mem {
    display: block;
    align-content: center;
    margin-left:auto;
    margin-right: auto;
    padding: 5px;
    font-size: 1em;
    text-align:center;
    color: #000;
}
/* .list-view section p1,p2,p3 {
    margin-left:0;
    margin-right: 0;
    font-size: 1em;
    text-align:left;
    color: #000;
} */

.list-view section p2{
     display: block;
}

.card-view section p2{
     display: block;
     text-align: left;
     margin: auto;
     padding: 5px 20px;
}

.card-view section p3{
     display: none;
}

.list-view section p3{
     display: none;
}



/* **************************** MEDIUM VIEW ********************* */
@media only screen and (min-width:32rem) {


.list-view section p2{
     display: block;
}

.card-view section p2{
     display: block;
     padding: 5px 20px;
}

.card-view section p3{
     display: none;
}

.list-view section p3{
     display: none;
}
    .list-view section p1,p2,p3,p4, p5, mem {
        padding: 5px;
        font-size: 1em;
        text-align: left;
        color: black;
    }
    .card-view section p1,p2,p3,p4 {
        margin-left: auto;
        margin-right: auto;
        font-size: 1em;
        text-align: center;
        color: black;
    }
    .list-view p2 {
        display:none;
    }
    .card-view {
    grid-template-columns: repeat(2, 1fr);
    }
}

/* ******************************* LARGE VIEW Directory ***************************** */
@media only screen and (min-width:62rem) {
    .card-view {
        grid-template-columns: repeat(3,1fr) ;
    }
    .list-view section {
        grid-template-columns: 30% 20% 20% 30%;
        grid-template-rows: repeat(2, 1fr);
        font-size: .9em;
}
    .list-view section h2 {
        grid-column: 1;
        grid-row: 1;
        display:block;
        font-size: 1.3em;
        background-color: transparent;
    }

    .list-view section p3 {
        display:block;
        grid-column: 2;
        grid-row: 1;
        text-align: left;
    }
    .list-view section p1 {
        grid-column: 3;
        grid-row: 1;
    }

    .list-view section p4 {
        grid-column: 4;
        grid-row: 1;
    }
    .list-view section mem {
        grid-column: 1;
        grid-row: 2;
}
    .list-view section p5 {
        grid-column: 4;
        grid-row: 2;
}

    .list-view section p2{
        display: none;
    }

    .card-view section p2{
        display: none;
    }

    .card-view section p3{
        display: block;
    }

    .list-view section p3{
        display: block;
    }

}