/* ******************* DIRECTORY ************ */
#view {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
#view img {
    width: 50px;
}
#view button {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    border: none;
}
#view button img {
    width: 100%;
    border: 2px solid --secondary-color;
}
button#listviewBtn {
    padding:5px 10px;
    margin: 10px;
    font-size: 40px;
    vertical-align: center ;
    border-radius: 4px 4px;
    border:1px solid rgb(15, 80, 138);
 }

 button#gridviewBtn {
    padding:5px 15px;
    margin: 10px;
    font-size: 40px;
    vertical-align: center ;
    border-radius: 4px 4px;
    border:1px solid rgb(15, 80, 138);
 }
 button#listviewBtn:hover {
    background-color:rgb(137, 221, 247);
    border: 3px solid --secondary-color;
 }
 button#listviewBtn:focus {
  background-color:rgb(137, 221, 247);

 }
 button#gridviewBtn:hover {
    background-color:rgb(137, 221, 247);
    border: 3px solid --secondary-color;
 }
 button#gridviewBtn focus {
  background-color:rgb(137, 221, 247);

 }
 button#gridviewBtn.open {
    background-color:rgb(247, 199, 137);
 }
  button#listviewBtn.open {
    background-color:rgb(247, 199, 137);
 }
main.dir {
    display:block;
    display:flex;
    flex-direction: column;
    margin:2%;
}
h2 {padding: 10px; color: aliceblue; font-size:1.2em;text-align:center;margin:auto}
/* If closed show menu plain */
#bizDir.open section:nth-child(odd) {
    background-color: aliceblue;
}
/* If open show menu as card */
#bizDir.open section {
    align-items: flex-start;
    border: 1px solid rgb(39, 40, 41);
    box-shadow: none;
    margin: 0;
}

section.bizcard h3 {
    margin: 0px;
    padding: 5px 20px;
    font-size: 1em;
    font-weight: bold;
    background-color:rgba(00,00,00,.2)  ;
    color:rgb(15, 80, 138);

}
#bizDir p {
    margin:0;
    padding: 2px 20px;
}
#bizdir.open p {
    margin:0;
    padding:0;
}
main #view section {
    display:flex;
    flex-direction: column;
}

section.card {
    display:block;
    border-radius: 0;
    padding: 5px;

}

#bizDir img {
    height: 100px;
    display:block;
}
#bizDir.open img {
    display:none;
}

#bizDir.open section:nth-child(even){
    background-color:rgba(199, 231, 241, 0.8)
}
#bizDir.open section:nth-child(odd) {
    background-color: white;
}

#bizDir section p:nth-child(4) {
    margin:0;
    padding:0;
}

#bizDir.open section p:nth-child(4){
     padding: 2px 20px;
}
#bizDir section p:nth-child(5) {
    display:none;
}

#bizDir.open section p:nth-child(5){
    margin: auto;
}
 #bizDir section p:nth-child(6) {

    margin: auto;
}

#bizDir.open section p:nth-child(6){
    margin: auto;
}
/* **************************** MEDIUM VIEW ********************* */
@media only screen and (min-width:35rem) {
#view {
    grid-column: 1/4;
    grid-row: 1/3;

}
#bizDir {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 /4;
    grid-row: 3/11;
}

#bizdir section:nth-child(1) {
    grid-column: 1/4;

}

}

/* ******************************* LARGE VIEW Directory ***************************** */
@media only screen and (min-width:62rem) {
    #bizDir {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column: 1 / 4;
        grid-row: 3/10;
    }
    #bizDir section:nth-child(2){
        grid-column: 1/2;
    }
    #bizDir section:nth-child(3){
        grid-column: 2/3;
    }
    #bizDir section:nth-child(4){
        grid-column: 3/4;
    }
    #bizDir section:nth-child(5){
        grid-column: 4/5;
    }
    #bizDir.open {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column: 1 / 4;
        grid-row: 3/ 10;
    }
   #bizDir.open section {
       display: grid;
       grid-template-columns: repeat(4, lfr);
       grid-column: 1 / 5;
   }
   #bizDir.open section h3:nth-child(1) {
       grid-column: 1/2;
       grid-row: 1 / 3;
   }
   #bizDir.open section p:nth-child(3) {
       display:none;
   }
   #bizDir.open section p:nth-child(4){
       display: block;
       grid-column: 2/3;
       grid-row: 1/3;
   }
   #bizDir.open section p:nth-child(5){
       grid-column: 3/4;
   }
   #bizDir.open section p:nth-child(6){
       grid-column: 4/5;
       grid-row: 1/2;
       text-align: right;
   }
   #bizDir.open section p:nth-child(7){
       grid-column: 4/5;
       grid-row: 2/3;
       text-align: right;
   }

}