
main.dir {
  text-align:center;
  margin: 25px auto;
}
h2 {padding: 20px; color: aliceblue}
/*.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
} */
.biz-cards {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: row;
    max-width: 1024px;
    margin:auto;

   /* background-color:rgb(77, 85, 87); */
}
.biz-cards section:nth-child(even){
   background-color:rgb(222, 241, 247);
   color:rgb(42, 42, 43);
}
/*.highlight { background-color: #eee;color: #333} */

section.bizcard {
  margin: 0.25rem;
  padding: 10px 5px;
  background-color: rgb(241, 240, 217);
  border: 1px solid #bbb;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 30px #777;
  max-height: 300px;
}
section.bizcard h3 {
  font-family:'Bitter', serif;
  font-size: 1.3em;
  color: rgb(71, 125, 243);
  text-align: center;
  text-transform: capitalize;
  /* background-color:rgb(255, 255, 255); */
  margin: 5px 10px 5px 10px;
  padding: 5px;
  border-radius: 4px 4px;
  }
section.bizcard p {
  line-height: 1.4em;
  font-family:'Open Sans', sans-serif;
  font-size: .8em;
  padding: 0;
  margin:2px 5px;
  color: rgb(0, 0, 0);

}
img.logo {
  margin: 5px 0 ;
  padding: 0;
  width: 90%;
  max-width: 100px;
  border: 2px solid rgb(193, 196, 204);
  border-radius: 8px 8px 8px 8px ;
}

 th, td {
            font-size: 14px;
            font-family: "open sans", sans-serif;
        }
        table, th, td
        {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
        th {
            font-weight:bold;
            background-color:rgb(241, 240, 217);
            color:rgb(0, 0, 0);
        }