/* Media Queries */
@media only screen and (min-width: 64rem) {

/* Flex *********************/
		nav ul {
      display: flex;
      flex-direction: row;
      width: 500px;
     }
		nav ul li { flex: 1 1 auto;
}

header {
   min-height: 120px;
   width: 100%;


}
header .wrap {
 
  min-height: 80px;
  width: 100%;
  margin:auto;

}
picture img {
    max-width: 100px;
}
section.heading {
  padding: 5px;
  margin: 2vh 2vw;
  min-width: 300px;
}

.heading h1 {
  justify-content: space-around;
  align-items:flex-start;
  font-size: 2.4rem;
  line-height: .9em;
  margin:0;
}
.heading .sub {
  grid-column: 2;
  grid-row: 1;
  font-size: 1.5rem;
}
header .social {
  order: 3;
}
nav button.hambutton{
    display:none;
    }
 nav#primaryNav {
     display:flex;
    flex-direction: row;
    align-items: flex-end;
    width: 760px;

}
  main {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(200px, 6);
    max-width: 80%;
    grid-gap: 25px;
  }
main section {
  border: 1px solid #000;
  width: 200px;
  height: 200px;

}
nav button.ham {display:none}
nav ul li a {
        padding: .5rem 1rem;
    }
nav ul#primaryNav {
  display:flex;
  flex-direction: row;
}
nav ul#primaryNav li {
  display:block;
  flex: 1 1 auto;
}
nav ul#primaryNav li a {
  text-align:center;
}
nav ul#primaryNav li:first-child {
  display: none;
}
.wrap {
  border-top: 1px solid rgb(1, 20, 36);
  display: inline-flex; 
  padding: 0; 
  margin: 0;
  text-align: center;
}
.copyright {display:inline} 
.mod {display: inline; 
  justify-content: flex-end; 
  padding: 0; 
  margin:0;
}
}