/* Media Queries */
@media only screen and (min-width: 64rem) {
main {
    display:grid;
    grid-template-columns: 260px 1fr 1fr;
    max-width: 80%;
    grid-gap: 25px;
  }
header {max-height: 150px;}
header h1 {
  font-size: 1.5em;
}

nav ul li a {
        padding: .5rem 1rem;
    }

}