/* Media Queries */
/* 64rem = 1024px  */
@media only screen and (min-width: 64rem) {

  nav {
    position: relative;
    flex-direction: row;
    top: 5px;
    left: 0;
    right: 0;
    width: 540px;
    text-align: left;
    background-color:transparent;
  }

/* Flex *********************/

nav ul li {
  flex: 1 1 auto;
}

nav ul li a {
  color: aliceblue;
}

header {
   min-height: 120px;
   min-width: 100%;
}

header .wrap {
  justify-content: center;
  min-height: 80px;
  min-width: 100%;

}

header picture.logo {
  justify-content: right;
  align-self: center;
  width: 150px;
  padding-left: 10px;
}
header picture.logo img {
    max-width: 120px;
}
section.heading {
  padding: 20px 0 20px 0;
  margin: 2vh 1vw;
  min-width: 270px;
  max-width: 270px;
}

.heading h1 {
  justify-content:left;
  align-items:center;
  font-size: 2.3rem;
  line-height: .9em;
  margin:0 0;
}
.heading .sub {
  grid-column: 2;
  grid-row: 1;
  font-size: 1.4rem;
}
header .social {
  order: 3;
  justify-content: flex-start;
  align-items: flex-start;
}
button#ham{
    display:none;
    }
nav ul#primaryNav {
  display:flex;
  justify-content: flex-start; /* left aligned */
   margin-right: 0;
}
nav ul li a {
  border:none;
  border-left: 1px solid rgba(0,0,0,.3);
  border-right: 1px solid rgba(0,0,0,.3);
  padding: .5rem 1rem;
  color: aliceblue;
}

#dybanner {
  font-size: 1.2em;
}

footer .wrap {
  border-top: 2px solid rgb(4, 82, 146);
  flex-direction: row;
  padding: 5px;
  text-align: center;
}
footer .wrap span.modified {
  font-size: 1em;
}
.copyright {display: inline
}
.mod {
  display: inline;
  justify-content: flex-end;
  padding: 0;
  margin:0;
}

.home-grid {
    display:grid;
    grid-template-columns: 240px 500px 245px;
    grid-template-rows: 220px 220px 230px;
    max-width: 945px;
    text-align:center;
    margin: auto;
    padding: 10px 20px;
    row-gap:10px;
    column-gap: 10px;
}
.hero {
  grid-row: 1/3;
  grid-column: 2;
  -ms-grid-row-span: 2;
  /* background-image: url('../images/imgp8973_lg.jpg'); */
 /* background-image: url('../images/wdd230-org-lg.jpg'); */
  background-size: 100%;
  background-size: cover;
  background-color: #eee;
  border:1px solid #333;
 }
 .hero picture.hero-img {
   justify-content: center;
   align-self: center;
   max-width: 440px;
   height:450px;

 }
 .hero picture.hero-img img {
     width: 440px;
     height: 450px;
 }
 .hero h2 { margin-left: 0; color: #1cf0f0; font-size: 2.3em; line-height: 1em; text-align: center; text-shadow: 2px 2px #333;  }
 .hero div.call {position: absolute; bottom: 0vw; right:0vw;
 }
.events {
  grid-row: 1;
  grid-column: 1;
  align-items: center;
  border:1px solid #333;
}
.events ul {justify-content: start; margin-left: -25px}
li.upevents {justify-self: center;}
span.md {font-size: .8em;text-align: left; }
span.up { height: 18px;text-align: left;}
.events ul {list-style-type: none; margin: 0px -30px;display: flex;flex-direction: column;max-width: 240px;}
li.upevents:nth-child(4){display: none;}
ul.events li.upevents {text-shadow:1px 2px #697897; max-width: 240px;}
.weather {
  grid-row: 2;
  grid-column: 1;
}
.news {
  grid-row: 3;
   grid-column: 2/3;
   text-align:left;
   padding: 10px 20px;
   font-size: 1.1em;
}
.news .body {
  max-width: 140px;
}
.spot {
  grid-row: 1/4;
  grid-column: 3;
  display:flex;
  flex-direction:row;
  flex-flow: column;
  min-height: 670px;
  padding: 10px;
}
#spot1 {
  flex: 1;
  width: 220px;
  min-height: 220px;
  height: 220px;
  max-height: 220px;
}
#spot2 {
  flex: 2;
  width: 220px;
  min-height: 220px;
  height: 220px;
  max-height: 220px;
 }
#spot3 {
  display:block;
  flex:3;
  width: 220px;
  min-height: 220px;
  height: 220px;
  max-height: 220px;
}

.spot2 picture img, .spot1 picture img, .spot3 picture img {
  object-fit: cover;
  height: 220px;
}
.spot3 picture img {
  object-fit: cover;
  height: 220px;
}
.join {
  display:block;
  grid-row: 3;
  grid-column: 1;
  padding: 10px;

}
.join p {font-size: 1.1em; margin: 5px;}
/* ************************** DISCOVER PAGE ************************ */
section.stats {
  display:block;
}

/* --------------FORM STYLING ----- */


.grid-join section{
  min-width: 600px;
  margin: 20px auto;
  padding: 25px;
}
form {
  align-self: center;
  text-align: left;
  max-width: 50rem;
}
form label.top input, form label.top select, form label.top textarea {
  font-size: 1.2rem;
  max-width: 90%;
}
p.member-message {
  display:inline-block;
  font-weight: 400;
  margin: 5px;
}

/* ********************** CONTACTS PAGE ************************** */

.section-contacts {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
div.general {
  grid-column: 2;
  grid-row: 1;
}
div.contact-form {
  grid-column: 1;
  grid-row: 1;
}
div.gmap {
  grid-column: 3;
  grid-row: 1;
}

}
/* ******************************* LARGE VIEW Directory ***************************** */
@media only screen and (min-width:67rem) {
  .card-view {
      grid-template-columns: repeat(3,1fr) ;
  }
  .list-view section {
      grid-template-columns: 30% 20% 20% 30%;
      grid-template-rows: repeat(2, 1fr);
      font-size: .9em;
}
  .list-view section h2 {
      grid-column: 1;
      grid-row: 1;
      display:block;
      font-size: 1.3em;
      background-color: transparent;
  }

  .list-view section p2 {
      display:block;
      grid-column: 2;
      grid-row: 1;
      padding-top: 10px;
      text-align: left;
  }
  .list-view section p3 {
    display: none;
  }
  .list-view section p1 {
      grid-column: 3;
      grid-row: 1;
      padding-top: 10px;
  }

  .list-view section p4 {
      grid-column: 4;
      grid-row: 1;
      padding-top: 10px;
  }
  .list-view section mem {
      grid-column: 1;
      grid-row: 2;
}
  .list-view section p5 {
      grid-column: 4;
      grid-row: 2;
}

  .card-view section p3{
      display: none;
  }

}

