/* Media Queries */
@media only screen and (min-width: 64rem) {

/* Flex *********************/
		nav ul {
      display: flex;
      flex-direction: row;
      width: 500px;
     }
		nav ul li { flex: 1 1 auto;
}

header {
   min-height: 120px;
   justify-content: space-around;
   min-width: 100%;

}
header .wrap {
  justify-content: center;
  min-height: 80px;
  min-width: 100%;

}
picture {
  justify-content: center;
  align-self: center;
}
picture img {
    max-width: 100px;
    padding-left: 10px;
}
section.heading {
  padding: 5px;
  margin: 2vh 2vw;
  min-width: 270px;
}

.heading h1 {
  justify-content: space-around;
  align-items:flex-start;
  font-size: 2.4rem;
  line-height: .9em;
  margin:0;
}
.heading .sub {
  grid-column: 2;
  grid-row: 1;
  font-size: 1.5rem;
}
header .social {
  order: 3;
  justify-content: flex-start;
  align-items: flex-start;
}
nav button.hambutton{
    display:none;
    }
 nav#primaryNav {
     display:flex;
    flex-direction: row;
    align-items: flex-end;
    width: 730px;

}

nav button.ham {display:none}
nav ul li a {
        padding: .5rem 1rem;
    }
nav ul#primaryNav {
  display:flex;
  flex-direction: row;
}
nav ul#primaryNav li {
  display:block;
  flex: 1 1 auto;
}
nav ul#primaryNav li a {
  text-align:center;
}
nav ul#primaryNav li:first-child {
  display: none;
}
footer .wrap {
  border-top: 1px solid rgb(4, 82, 146);
  display: inline-flex;
  padding: 0;
  margin: 0;
  text-align: center;
}
footer .wrap span.modified {
  font-size: 1em;}
.copyright {display:inline}
.mod {display: inline;
  justify-content: flex-end;
  padding: 0;
  margin:0;
}

main {
    display:grid;
    grid-template-columns: 200px auto 240px;
    grid-template-rows: 200px 206px 206px;
    max-width: 850px;
    text-align:center;
    margin: auto;
    row-gap:10px;;
    column-gap: 10px;
}
.hero {
  grid-row: 1/3;
  grid-column: 2;
  -ms-grid-row-span: 2;
  height: 410px;
  width: 400px;
  background-color: #eee;
  border:1px solid #9c9b9b;
  margin-top: 10px;
 }

.events {
  grid-row-start: 1;
   grid-column: 1;
   min-width: 200px;
  width: 200px;
  max-width: 200px;
  height: 200px;
  background-color: #eee;
  border:1px solid #9c9b9b;
  margin-top: 10px;

}
.weather {
  grid-row: 2;
  grid-column: 1;
  height: 200px;
  width: 200px;
  background-color: #eee;
  border:1px solid #9c9b9b;
  margin-top: 10px;
}
.news {
  grid-row-start: 3;
   grid-column: 2;
   height: 200px;
   width: 400px;
  background-color: #eee;
  border:1px solid #9c9b9b;
   margin-top: 5px;
}
.spot {
  grid-row: 1/5;
  grid-column: 3;
  width: 230px;
  min-height: 620px;
  background-color: #eee;
  border: 1px solid #9c9b9b;
  margin-top: 10px;
}
.spot1 {
  grid-row: 1;
  grid-column: 3;
  height: 190px;
  width: 200px;
  background-color: #eee;
  border:1px solid #9c9b9b;
  margin-left: 1vw;
  margin-top: 15px;


}
.spot2 {
  grid-row: 2;
  grid-column: 3;
  width: 200px;
  height: 195px;
  background-color: #eee;
  border:1px solid #9c9b9b;
  margin:0;padding:0;
  margin-left: 1vw;
}
.spot3 {
  display:block;
  grid-row: 3;
  grid-column: 3;
  height: 195px;
  width: 200px;
  background-color: #eee;
  border: 1px solid #9c9b9b;
  margin:0;padding:0;
  margin-left: 1vw;
}
.join {
  grid-row-start: 3;
  grid-column: 1;
  height: 200px;
  width: 200px;
  background-color: #eee;
  border:1px solid #9c9b9b;
  display:block;
  margin-top: 6px;
}

}