/* Media Queries */
/* 64rem = 1024px  */
@media only screen and (min-width: 64rem) {

  nav {
    position: relative;
    top: 5px;
    left: 0;
    right: 0;
    width: 550px;
    text-align: left;
    background-color:transparent;
  }

/* Flex *********************/
		nav ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 550px;
     }
		nav ul li { flex: 1 1 auto;
}
nav ul li a {
  color: white;

}
header {
   min-height: 120px;
   justify-content: center;
   min-width: 100%;
}

header .wrap {
  justify-content: center;
  min-height: 80px;
  min-width: 100%;

}

header picture.logo {
  justify-content: center;
  align-self: center;
  width: 140px;
  padding-left: 40px;
}
header picture.logo img {
    max-width: 100px;
}
section.heading {
  padding: 20px 5px;
  margin: 2vh 1vw;
  min-width: 270px;
}

.heading h1 {
  justify-content: space-around;
  align-items:flex-start;
  font-size: 2.4rem;
  line-height: .9em;
  margin:0;
}
.heading .sub {
  grid-column: 2;
  grid-row: 1;
  font-size: 1.5rem;
}
header section.social {
  order: 3;
  justify-content: flex-start;
  align-items: flex-start;
}
button#ham{
    display:none;
    }
nav ul#primaryNav {
  display:flex;
  justify-content: flex-start; /* left aligned */
  /*justify-content: flex-end; /* right aligned */
  /*justify-content: center; */ /* center */
  margin-left: 2vw;
}
nav ul li a {
  border:none;
  border-left: 1px solid rgba(0,0,0,.3);
  border-right: 1px solid rgba(0,0,0,.3);
  padding: .5rem 1rem;
}
nav ul li a {
        padding: .5rem 1rem;
    }

footer .wrap {
  border-top: 2px solid rgb(4, 82, 146);
  flex-direction: row;
  padding: 5px;
  text-align: center;
}
footer .wrap span.modified {
  font-size: 1em;}
.copyright {display:inline}
.mod {display: inline;
  justify-content: flex-end;
  padding: 0;
  margin:0;
}

main {
    display:grid;
    grid-template-columns: 240px 500px 245px;
    grid-template-rows: 220px 220px 230px;
    max-width: 945px;
    text-align:center;
    margin: auto;
    padding: 10px 20px;
    row-gap:10px;
    column-gap: 10px;
}
.hero {
  grid-row: 1/3;
  grid-column: 2;
  -ms-grid-row-span: 2;
  /* background-image: url('../images/imgp8973_lg.jpg'); */
 /* background-image: url('../images/wdd230-org-lg.jpg'); */
  background-size: 100% 100%;
  background-size: cover;
  background-color: #eee;
  border:1px solid #9c9b9b;
 }
 .hero picture.hero-img {
   justify-content: center;
   align-self: center; 
   max-width: 440px;
   height:450px;
   
 }
 .hero picture.hero-img img {
     width: 440px;
     height: 450px;
 }
 .hero h3 {Color: #1cf0f0; font-size: 2.5em; position: center;text-align: center; text-shadow: 2px 2px #333; position: absolute; top: 18vh; left:8vw; }
 .hero div.call {position: absolute; bottom: 3vw; right:2vw;
 }
.events {
  grid-row: 1;
   grid-column: 1;
   align-items: center;
  border:1px solid #9c9b9b;
}
.events ul {justify-content: start; margin-left: -20px}
li.upevents {margin-left: 0px;justify-self: center;}
span.md {font-size: .8em;text-align:left; }
span.up { height: 18px;text-align: left;}
li.upevents:nth-child(4){display:none;}
.weather {
  grid-row: 2;
  grid-column: 1;
}
.news {
  grid-row: 3;
   grid-column: 2/3;
   text-align:center;
   border:1px solid #9c9b9b;
   padding: 10px 20px;
}
.news .body {
  max-width: 140px;
}
.spot {
  grid-row: 1/4;
  grid-column: 3;
  display:flex;
  flex-direction:row;
  flex-flow: column;
  min-height: 670px;
  padding: 10px;
}
.spot1 {
 /* grid-row: 1/2;
  grid-column: 3; */
  flex: 1;
  width: 220px;
  min-height: 220px;
  height: 220px;
  max-height: 220ppx;
  background: #379683 url('../images/spot1_square_large.png') no-repeat bottom right;
}
.spot2 {
 /* grid-row: 2/3;
  grid-column: 3; */
  flex: 2;
  width: 220px;
  min-height: 220px;
  height: 220px;
  max-height: 220px;
  background: #379683 url('../images/spot2-square_large.png') no-repeat bottom right;
}
.spot3 {
  display:block;
  /*grid-row: 3/4;
  grid-column: 3; */
  flex:3;
  width: 220px;
  min-height: 220px;
  height: 220px;
  max-height: 220px;
  background: #379683 url('../images/spot3-square_large.png') no-repeat bottom right;
}
.join {
  display:block;
  grid-row: 3;
  grid-column: 1;
}

}