/* Media Queries */
@media only screen and (min-width: 64rem) {

/* Flex *********************/
		nav ul {
      display: flex;
      flex-direction: row;
      width: 500px;
     }
		nav ul li { flex: 1 1 auto;
}

header {
   min-height: 120px;
   justify-content: space-around;
   min-width: 100%;
  
}
header .wrap {
  justify-content: center;
  min-height: 80px;
  min-width: 100%;

}
picture {
  justify-content: center;
  align-self: center;
}
picture img {
    max-width: 100px;
    padding-left: 10px;
}
section.heading {
  padding: 5px;
  margin: 2vh 2vw;
  min-width: 270px;
}

.heading h1 {
  justify-content: space-around;
  align-items:flex-start;
  font-size: 2.4rem;
  line-height: .9em;
  margin:0;
}
.heading .sub {
  grid-column: 2;
  grid-row: 1;
  font-size: 1.5rem;
}
header .social {
  order: 3;
  justify-content: flex-start;
  align-items: flex-start;
}
nav button.hambutton{
    display:none;
    }
 nav#primaryNav {
     display:flex;
    flex-direction: row;
    align-items: flex-end;
    width: 730px;

}
  main {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
  }
main section {
  border: 1px solid #000;
  width: 200px;
  height: 200px;

}
nav button.ham {display:none}
nav ul li a {
        padding: .5rem 1rem;
    }
nav ul#primaryNav {
  display:flex;
  flex-direction: row;
}
nav ul#primaryNav li {
  display:block;
  flex: 1 1 auto;
}
nav ul#primaryNav li a {
  text-align:center;
}
nav ul#primaryNav li:first-child {
  display: none;
}
footer .wrap {
  border-top: 1px solid rgb(4, 82, 146);
  display: inline-flex; 
  padding: 0; 
  margin: 0;
  text-align: center;
}
footer .wrap span.modified { 
  font-size: 1em;}
.copyright {display:inline} 
.mod {display: inline; 
  justify-content: flex-end; 
  padding: 0; 
  margin:0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 33% 33% 33%;
  grid-gap: 10px;
}

.box1 {
  grid-column: 2 / 4;
  grid-row: 1;
}

.box2 {
  grid-column: 1;
  grid-row: 1 / 3;
}

.box3 {
  grid-row: 2;
  grid-column: 3;
}

}