/* Media Queries */
@media only screen and (min-width: 32.5rem) {

/* Flex *********************/

		nav ul li {
      flex: 1 1 auto;
     }

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    display:none;
}
nav ul.open {
    display:block;
}
header {
  max-height: 80px;
  width: 100%;
}
header .wrap {
  justify-content: space-evenly;
}
.heading {
  margin-top: 0;
  min-width: 250px;
}
.heading h1 {
  font-size: 1.8em;
}
.heading span {
  font-size: 1.2em
}
picture {min-width: 100px;}
picture img {
  justify-content: center;
    max-width: 75px;

}
.social {justify-content: flex-end;}
nav#primaryNav {
  display:flex;
  flex-direction: row;
  background-color: #046fb9;
text-align: center;
/*box-shadow: 0 2px 5px rgb(39, 89, 146); */
}
 /* nav button{
    display:none;
 } */

nav ul li a {
    border: none;
    padding: .5rem 1rem;
}


main {
    max-width: 90%;
  }

nav ul.open {
    display:block;
   /* position: absolute; */
}
footer {display:flex;justify-self: center;padding: 3vh 3vw}
footer .contactInfo img {float:left;margin:5px; max-width: 100px}
footer .footer-addlogo .contactInfo {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  background-color:rgb(15, 64, 119);
  max-width: 800px;
  margin: auto;
  }

footer .wrap {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

}


