/* Media Queries */
/* 32.5rem = 520 px */
@media only screen and (min-width: 35rem) {

/* Flex *********************/

header {
  max-height: 80px;
  width: 100%;
  justify-content: center;
  position:relative;
}

picture {min-width: 100px;}
picture img {
  justify-content: center;
    max-width: 75px;

}
.heading {
  margin-top: 0;
  min-width: 250px;
  text-align: left;
  margin-top: 1vh 2vw;
  padding: 2px 0;
}
.heading h1 {
  font-size: 1.8em;
}
.heading span {
  font-size: 1.2em
}

.social {justify-content: flex-start;
  padding-right: 2vw;order: 0}

/* ************************* NAVIGATION - MEDIUM ***********************  */
nav#primaryNav {
  display:flex;
  flex-direction: column;
  background-color: #046fb9;
  text-align: center;
/*box-shadow: 0 2px 5px rgb(39, 89, 146); */
 right: 50%;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    display:none;
}
nav ul.open {
    display:block;
}
nav ul li {
  flex: 1 1 auto;
}
nav ul.open {
    display:block;
}
nav ul li a {
  border: none;
  padding: .5rem 1rem;
  max-width: 100%;
}

footer {
  display: flex;
  justify-content: space-evenly ;
  justify-self: center;
}
footer .contactInfo img {
  float:left;
  margin:5px;
  max-width: 100px
}
div.contacts {line-height: 1.2em}
footer .footer-addlogo .contactInfo {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  background-color:rgb(15, 64, 119);
  max-width: 800px;
  margin: auto;
  }
footer .wrap {
  border-top: 2px solid rgb(4, 82, 146);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span.sm_name::after {
  content: "  ";
  content: "  |  ";
  color:  aliceblue;
  font-weight: 300;
}
span.author::before {
  content: "  ";
}
span.author::after {
  content: "  ";
}
span.project::before {
  content: "  |  ";
  color:  aliceblue;
  font-weight: 300;
}
span.project::after {
  content: "  |  ";
  color:  aliceblue;
  font-weight: 300;
}
footer .wrap .copyright {
   flex-direction: row;
  flex-basis: auto;
   font-size: .9em;
    padding: 5px;
    line-height: 1.4em;
}

/*span.author::before {
  content: " | ";
  color:  aliceblue;
  font-weight: 300;
} */

main {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 240px 200px 220px;
    min-width: 32.5rem;
    margin:0;
    padding:0;
    row-gap: 10px;
    grid-gap: 10px;
}
.hero {
  grid-row-start: 1;
  grid-column: 1/4;
  /* background-image: url('../images/imgp8973_md.jpg'); */
  background-image: url('../images/wdd230-org-md.jpg');
  background-size: cover;
  background-color: #eee;
  border:1px solid #a9a5a5;
}
.hero div.call {position: absolute; bottom: 20%; right:2vw;
}
.events {
  grid-row: 5;
  grid-column: 1/3;
  background-color: #eee;
  border:1px solid #a9a5a5;
}
.events ul {min-width: 75%}
li.upevents {max-height: 40px;line-height:.8em;text-align:left;}
.weather {
  grid-row: 5;
  grid-column: 3/4;
  background-color: #eee;
  border:1px solid #a9a5a5;
}
.news {
  grid-row: 2;
  grid-column: 1/4;
  background-color: #eee;
  border:1px solid #a9a5a5;
  padding: 10px 30px;
}
.news .body {max-width: 140px;}
.spot {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  /*display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;*/
  background-color: #eee;
  border:1px solid #a9a5a5;
}

.spot1 {
  grid-row: 3/4;
  grid-column: 1 / 2;
  background-color: #eee;
  border:1px solid #a9a5a5;
}
.spot2 {
  grid-row: 3/4;
  grid-column: 2 / 3;
  background-color: #eee;
  border:1px solid #a9a5a5;
}
.spot3 {
  display:none;
}
.join {
  display:block;
  grid-row: 4/5;
  grid-column: 1/4;
  background-color: #eee;
  border:1px solid #a9a5a5;


}

}


