/* Media Queries */
@media only screen and (min-width: 32.5rem) {

/* Flex *********************/

		nav ul li {
      flex: 1 1 auto;
     }

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    display:none;
}
nav ul.open {
    display:block;
}
.heading {
  margin-top: 0;
}
.heading h1 {
  font-size: 1.8em;
}
.heading span {
  font-size: 1.2em
}
picture img {
    max-width: 75px;
    margin: 4vh 2vw;
}
header {
  max-height: 80px;
}
 /* nav button{
    display:none;
 } */

nav ul li a {
    border: none;
    padding: .5rem 1rem;
}
main {
    max-width: 90%;
  }

nav ul.open {
    display:block;
}
}


