/* Media Queries */
@media only screen and (min-width: 32.5rem) {

/* Flex *********************/

		nav ul li {
      flex: 1 1 auto;
     }

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    display:none;
}
nav ul.open {
    display:block;
}
header {
  max-height: 80px;
  min-width: 32.5rem;
}
header .wrap {
  max-width: 900px;
  
}
.heading {
  margin-top: 0;
}
.heading h1 {
  font-size: 1.8em;
}
.heading span {
  font-size: 1.2em
}
picture img {
  justify-content: center;
    max-width: 75px;
    
}

 /* nav button{
    display:none;
 } */

nav ul li a {
    border: none;
    padding: .5rem 1rem;
}
main {
    max-width: 90%;
  }

nav ul.open {
    display:block;
}
footer {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
footer .wrap {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  background-color:rgb(15, 64, 119);
  max-width: 900px;
  margin: auto;
  min-height: 115px;
}


  .contactInfo {
   display: block;
}
.ftrLogo {grid-column: 1; max-width: 100px; text-align:center}
.ftrLogo img {max-width: 100px;}
 .address {grid-column: 2;}
.email, .phone, .map {grid-column: 3}
.contactInfo .email, .contactInfo .phone, .map {padding:5px 0;}
.contactInfo .email {margin-top:5px;}
}


