/* Media Queries */
/* 32.5rem = 520 px */
@media only screen and (min-width: 35rem) {

/* Flex *********************/

header {
  max-height: 80px;
  width: 100%;
  justify-content: center;
  position:relative;
  margin:0;
}

header picture.logo {
  justify-content: right;
  min-width: 100px;
}
header picture.logo img {
  justify-content: right;
    max-width: 75px;

}
.heading {
  margin-top: 0;
  justify-content:flex-start;
  min-width: 250px;
  text-align: left;
  margin-top: 1vh;
  padding: 2px 0;
}
.heading h1 {
  font-size: 1.8em;
}
.heading span {
  font-size: 1.2em
}

.social {justify-content: flex-start;
  padding-right: 0;order: 0}

#dybanner {
  color: rgb(248, 245, 64);;
  font-size: 1em;
  font-weight: bold;
  text-shadow: 1px 1px #000;

}

/* ************************* NAVIGATION - MEDIUM ***********************  */
nav#primaryNav {
  display:flex;
  flex-direction: column;
  background-color: #046fb9;
  text-align: center;
/*box-shadow: 0 2px 5px rgb(39, 89, 146);
  right: 70%;*/
}

nav ul {
/*	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;*/
  display:none;
}
nav ul.open {
    display:block;
}
nav ul li {
  flex: 1 1 auto;
}
nav ul.open {
    display:block;
}
nav ul li a {
  display:block;
  border: none;
  padding: .5rem 1rem;
}

footer {
  display: flex;
  justify-content: space-evenly ;
  justify-self: center;
}
footer .contactInfo img {
  float:left;
  margin:5px;
  max-width: 100px
}
div.contacts {line-height: 1.6em}
footer .footer-addlogo .contactInfo {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  background-color:rgb(15, 64, 119);
  max-width: 800px;
  margin: auto;
  }
footer .wrap {
  border-top: 2px solid rgb(4, 82, 146);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span.sm_name::after {
  content: "  ";
  content: "  |  ";
  color:  aliceblue;
  font-weight: 300;
}
span.author::before {
  content: "  ";
}
span.author::after {
  content: "  ";
}
span.project::before {
  content: "  |  ";
  color:  aliceblue;
  font-weight: 300;
}
span.project::after {
  content: "  |  ";
  color:  aliceblue;
  font-weight: 300;
}
footer .wrap .copyright {
   flex-direction: row;
  flex-basis: auto;
   font-size: .9em;
    padding: 5px;
    line-height: 1.4em;
}

/*span.author::before {
  content: " | ";
  color:  aliceblue;
  font-weight: 300;
} */

.home-grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 200px 240px 200px 220px;
    min-width: 32.5rem;
    margin:0;
    padding:0;
    row-gap: 10px;
    grid-gap: 10px;
}
.hero {
  grid-row: 1/2;
  grid-column: 1/4;
  /* background-image: url('../images/imgp8973_md.jpg'); */
 /*  background-image: url('../images/wdd230-org-md.jpg'); */
  background-size: cover;
  border:1px solid #333;
}
.hero picture.hero-img {
  /* justify-content: center;
   align-self: center; */
   width: 100%;
   height:300px;

 }
 .hero picture.hero-img img {
     width: 100%;
     height: 300px;
 }
.hero h2 {
  color: #1cf0f0;
  font-size: 2.3em;
  line-height: 1.0em;
  text-align: center;
  text-shadow: 2px 2px #333;
  position: absolute;
  bottom: 1vh;
  left:1vw;
}
.hero div.call {
  position: absolute;
  bottom: 0vw;
  right:0vw;
}
.events {
  grid-row: 5;
  grid-column: 1/3;
  border:1px solid #333;
}
li.upevents {
  max-height: 40px;
  line-height: .8em;
  text-align: left;
}
.weather {
  grid-row: 5;
  grid-column: 3/4;
}
.news h2, .news h3 {
  margin: -10px -20px 10px -20px;
  padding: 10px 20px;
}
.news {
  grid-row: 2;
  grid-column: 1/4;
  background-color: #eee;
  border:1px solid #333;
  padding: 10px 20px;
}
.news .body {
  max-width: 140px;
}
.spot {
  grid-row: 3/4;
  grid-column: 1/4;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

#spot1 {
  -webkit-flex: 1;
  flex: 1;
  min-width: 50%;
}
#spot2 {
   flex: 2;
   min-width: 50%;
}
.spot3 {
  display:none;
}
.join {
  display:block;
  grid-row: 4/5;
  grid-column: 1/4;
  border:1px solid #333;
  text-align:center;
  padding: 20px;
}
.join button {
  padding: 20px;
}
/* ***************************************** Join page ******************* */
.grid-join section{
  min-width: 500px;
  margin: auto;
  padding: 5px;
}

form label.top input, form label.top select, form label.top textarea {
  font-size: 1.2rem;
  max-width: 22rem;
}

.grid-join section {
  min-width: 400px;
  margin: 20px auto;
  padding: 25px;
}
form {
  align-self: center;
  text-align: left;
  max-width: 50rem;
}
form label.top input, form label.top select, form label.top textarea {
  font-size: 1.2rem;
  max-width: 22rem;
}
p.member-message {
  display:inline-block;
  font-weight: 400;
  margin: 5px;
}
/* ****************************** Thank-you page ********************** */


.grid-ty section {
  grid-template-columns: 1fr;
  grid-template-rows: 200px 200px;
  padding: 25px;
  max-width:500px;
  justify-content: center;
  padding: 25px;
  margin: auto;
  border: 3px solid #000;
  background-color: aliceblue;


}
.grid-ty section picture {
  grid-column: 1;
  grid-row: 2;
}
grid-ty section picture img {
  width: 500px;
  height: 400px;
}
grid-ty h2 {
  grid-column: 1;
  grid-row: 1;
  padding-right: 5rem;
}
grid-ty section p {
  grid-column: 1;
  grid-row: 2;

}
.grid-ty section p {
  grid-column: 1;
  grid-row: 3;
  display:block;
  justify-content: center;
  width: 500px;
  padding: 5px 20px;
  margin: 0 auto;
  background-color: white;
}

}