
.main-table-acme {
    background-color: white;
    justify-content: center;
    display:grid;
    grid-template-columns: auto 300px auto;
    grid-template-rows: 400px;

}

div.table-acme {
    grid-column: 2;
    grid-row: 1;
    width:100%;
    margin:auto;
    text-align: center;
    align-content: center;
    margin:auto;
}

table.acme {
    font-family: 'Ubuntu', sans-serif;
    width: 280px;
    border-collapse: collapse;
    border:1px solid rgb(192, 195, 196);
    font-size: 1em;
    text-align: center;
    transition: box-shadow .3s;
    box-shadow: 10px 8px 12px rgba(46, 91, 102, 0.8);
}

table.acme th.title {
    color: #000;
    font-size: 1.5em;
    background-color: #7fb9c2;
    font-weight: bold;
    padding: 8px;
    margin:0
}
table.acme th {
    color: white;
    font-size: .9em;
    background-color:  #4c6b7e;
    font-weight: bold;
    padding: 10px;
    border:1px solid rgb(207, 210, 211);
 }
table.acme tr td {
    padding:5px;
    border:1px solid rgb(186, 191, 192);
    font-size: .9em;
}
caption {
    display: none;
}
tr:nth-child(even) {
   background-color: #e7ffed;
}
tr:nth-child(odd) {
    background-color: #e7f0ed;
}
td.highlight {
    background-color: #4c6b7e;
    color: white;
}
tr.footer {
    text-align: center;
    font-size: .8em;
    font-weight: 400;
    background-color: #7fb9c2;
     color: #000;
     padding: 10px;
     font-weight: 500;
    }
table.acme em {
    background-color: transparent;
    font-size: 1em;
}