/* Media Queries */
@media only screen and (min-width: 38.5em) {

/* Flex *********************/
		nav ul { display: flex; }
		nav ul li { flex: 1 1 auto; }

main {
    max-width: 90%;
  }

header h1 {
  font-size: 2.3em;
}
nav {
  display:flex;
  justify-content: center;
  align-content: flex-start;
  margin: 2vh auto;
  max-width: 760px;
  background-color: transparent;
  /*background: transparent;*/
  color: #000;
}

}