
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    margin:0px auto;
    box-sizing: content-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    display:block;
}
h2{
    color:#046fb9;
    padding: 5px 0;
}

h4 {
    color:#CE5505;
    padding: 5px 0;
    font-weight: bold;
}
h3 {
   /* color: rgb(238, 205, 17);*/
   color: #ffda00;
   background-color:#046fb9;
   padding: 5px;
   margin: 10px 0;

}
.typography{
    padding-left: 25px;
}
p {font-family: 'open sans', sans-serif; font-size: 1.2em;line-height: 1.2em;}
h2{font-size: 2.3rem}
h3{font-size: 2rem}
h4{font-size: 1.6rem}
main a:link {color:#2690ba;font-weight: bold}
main a:hover {
    color: #1cb0a2;
    font-weight: bold;
}
header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.8em 3em;
    align-self:center;
    color:rgb(242, 243, 248);
    max-width: 100%;
    height: 120px;
    padding:  20px;
    background-color:rgb(15, 64, 119);
    border-radius: 0px;
    box-shadow: 5px 5px 5px 5px rgba(141, 187, 240, 0.5);

}
header h1 {
    grid-row: 1;
    text-align:center;
    align-self:center;
    text-shadow:1px 1px rgba(40, 40, 41, 0.6);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2em;
    padding: 20px 0 20px 0;
    margin: 20px;
    line-height: 1em;

}
header p {
    grid-row: 2;
    text-align: center;
    color:rgb(242, 243, 248);
    font-size: 1.1em;
    font-family: "Open Sans", sans-serif;
}
nav {
	background-color: #046fb9;
	text-align: center;
	box-shadow: 0 2px 5px rgb(39, 89, 146);

}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 1.2rem;
    font-weight:500;
	background: linear-gradient(90deg, transparent, yellow, transparent) top /
		var(--d, 0) 5px no-repeat;
	transition: 0.5s;
}
nav a:hover {
	/*background-color: rgb(222, 238, 192);*/
	color: #030f16;
    color: yellow;
	--d: 75%;
}
.active {
	color: yellow;
    font-weight: 400;

}
main {
    display:grid;
    grid-template-columns: 1fr;
    align-self: center;
    vertical-align: top;
    padding: 10px 10px;
    margin: 20px auto 10px auto;
    width: 80%;

}
main section {
    display:grid;
    grid-template-columns: 1fr;
    padding: 10px;
    border:1px solid rgb(219, 217, 217);
    border-radius: 4px 4px;
}
main section ul li {
    list-style-type: none;
    padding: 5px 25px;
}


main h2 {
    color:#046fb9;
    text-shadow:2px 2px 2px rgba(217, 217, 247, 0.3);
    font-size: 2.2em;
    margin-bottom: 5px;
}
 p.time {
   font-size: .8em;
   font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align:center;
    width: 100%;
    height: 65px;
    padding: 10px;
    background-color:rgb(15, 64, 119);
    color:rgb(242, 243, 248);
    text-shadow: 1px 1px 3px #102c47;
    border-radius: 0px;
    box-shadow: 5px 5px 5px 5px rgba(217, 217, 247, 0.4);

}
footer span.modified {
    font-size: .8em;
}

